openapi: 3.0.3
info:
  description: UAPI 官方接口文档
  title: UAPI
  version: 1.0.0
servers:
- url: https://uapis.cn/api/v1
tags:
- description: 提供一系列便捷的数据格式转换工具，帮你处理开发中常见的数据转换任务。
  name: Convert
- description: 提供每日更新的趣味性或信息性内容，例如新闻、图片等。
  name: Daily
- description: 提供一系列与游戏相关的查询服务，涵盖 Minecraft、Steam 等平台。
  name: Game
- description: 提供一系列与图片处理和获取相关的功能，从生成二维码到获取壁纸，应有尽有。
  name: Image
- description: 一个“百宝箱”，集合了各种实用但不好归类的API，从查天气到查热榜，应有尽有。
  name: Misc
- description: 提供一系列网络诊断和查询工具，帮助你快速定位网络问题或获取网络信息。
  name: Network
- description: 提供与诗词、名言相关的API，为你的应用增添一抹人文色彩。
  name: Poem
- description: 提供各种随机内容生成器，从随机字符串到随机图片。
  name: Random
- description: 提供与主流社交平台（如B站、QQ）相关的用户信息查询服务。
  name: Social
- description: 提供API自身的状态、监控和使用情况统计。通常需要管理员权限才能访问。
  name: Status
- description: 提供一系列文本处理工具，包括加解密、哈希计算、内容分析等。
  name: Text
- description: 提供文本翻译服务，打破语言的壁垒。
  name: Translate
- description: 提供网页内容解析和提取的工具。
  name: WebParse
- description: "由第三方服务 [Clipzy™](https://paste.sdjz.wiki/) 提供的端到端加密文本片段服务。详情请参阅其[隐\
    私协议](https://paste.sdjz.wiki/privacy)。\n\nClipzy 的核心是 **“端到端加密”**，意思是**加密和解密的“\
    钥匙”只存在于您和接收者的设备上**，服务器只负责保管一个谁也打不开的“加密保险箱”，从而确保了内容的绝对隐私。\n\n## 如何使用：两种方法\n根据您的\
    安全需求和使用场景，我们提供两种使用方法。\n\n### 方法一：最高安全等级 (推荐)\n\n此方法遵循严格的端到端加密模型，您的原始文本和密钥**永远不\
    会**发送到服务器。\n\n**适用场景**：在网页应用中分享敏感信息，构建安全的在线便签等。\n\n**工作流程**：\n\n-   **第一步：创建和加\
    密 (在你的应用中)**\n    1.  **生成密钥**：在客户端本地创造一把独一无二的钥匙。\n    2.  **加密内容**：用这把钥匙将你的原文\
    锁进一个保险箱。\n    3.  **上传保险箱**：调用 [POST /api/store](/docs/api-reference/post-clipzy-store)\
    \ 接口，把锁好的保险箱（密文）交给服务器保管，服务器会给你一个储物柜编号 (ID)。\n    4.  **组合分享链接**：将储物柜编号 (ID) 和你\
    的钥匙 (密钥) 组合成一个特殊的分享链接。\n\n-   **第二步：分享和解密 (在接收者的应用中)**\n    1.  **解析链接**：接收者打开\
    链接，应用自动从链接中分离出储物柜编号和钥匙。\n    2.  **取回保险箱**：调用 [GET /api/get](/docs/api-reference/get-clipzy-get)\
    \ 接口，凭编号取回加密的保险箱。\n    3.  **开锁**：用钥匙在本地打开保险箱，看到原始内容。\n\n*下面的 **JavaScript 完整示\
    例**详细演示了此方法。*\n\n### 方法二：服务器端解密 (方便自动化)\n\n此方法**安全性较低**，因为它需要您将密钥作为参数发送给服务器。但对\
    于无法执行复杂解密操作的自动化脚本（如 `curl` 或 Python 脚本）来说，非常方便。\n\n**适用场景**：在命令行或后端服务中，快速获取之前存\
    储的配置或秘密信息。\n\n**工作流程**：\n\n1.  **准备工作**：你首先需要知道一个加密片段的 **ID** (储物柜编号) 和它的**密钥\
    ** (钥匙)。这通常是你之前通过方法一创建并自己保存下来的。\n2.  **请求解密**：调用 [GET /api/raw/{id}](/docs/api-reference/get-clipzy-raw)\
    \ 接口，把储物柜编号 (ID) 和钥匙 (密钥) 同时交给服务器。\n3.  **获取原文**：服务器用你给的钥匙打开保险箱，然后直接把里面的东西（原始纯\
    文本）递给你。\n\n> [!WARNING]\n> **请谨慎使用！** 虽然服务器承诺不记录密钥或解密后的内容，但此操作破坏了严格的端到端加密模型。请仅\
    在您信任服务器或内容敏感度不高时使用。\n\n--- \n\n## 代码示例\n\n### 示例1 (最高安全): 完整的JavaScript实现\n\n在\
    线API测试工具无法模拟完整的端到端加密流程。下面的示例展示了如何在您的网站或应用中，通过JavaScript实现从生成密钥到最终解密的全部步骤。您可以将此\
    代码保存为一个HTML文件直接在浏览器中运行。\n\n```html\n<!DOCTYPE html>\n<html>\n<head>\n    <title>Clipzy\
    \ E2EE Demo</title>\n    <!-- 引入 lz-string 库 -->\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.5.0/lz-string.min.js\"\
    ></script>\n</head>\n<body>\n    <h1>Clipzy 端到端加密示例</h1>\n    <textarea id=\"\
    originalText\" rows=\"10\" cols=\"80\" placeholder=\"在此输入您想加密分享的文本...\"></textarea>\n\
    \    <br>\n    <button onclick=\"createEncryptedPaste()\">创建加密链接</button>\n  \
    \  <hr>\n    <h2>生成的分享链接:</h2>\n    <input id=\"shareableLink\" type=\"text\"\
    \ size=\"100\" readonly>\n    <hr>\n    <h2>从链接解析内容:</h2>\n    <input id=\"pasteLink\"\
    \ type=\"text\" size=\"100\" placeholder=\"将上面生成的链接粘贴到此处进行解密\">\n    <button onclick=\"\
    decryptPasteFromLink()\">解密</button>\n    <h3>解密后的内容:</h3>\n    <pre id=\"decryptedText\"\
    \ style=\"background-color: #f0f0f0; border: 1px solid #ccc; padding: 10px;\"\
    ></pre>\n\n    <script>\n        // --- 辅助函数：ArrayBuffer 与 Base64 互相转换 ---\n \
    \       function arrayBufferToBase64(buffer) {\n            let binary = '';\n\
    \            const bytes = new Uint8Array(buffer);\n            const len = bytes.byteLength;\n\
    \            for (let i = 0; i < len; i++) {\n                binary += String.fromCharCode(bytes[i]);\n\
    \            }\n            return window.btoa(binary);\n        }\n\n       \
    \ function base64ToArrayBuffer(base64) {\n            const binary_string = window.atob(base64);\n\
    \            const len = binary_string.length;\n            const bytes = new\
    \ Uint8Array(len);\n            for (let i = 0; i < len; i++) {\n            \
    \    bytes[i] = binary_string.charCodeAt(i);\n            }\n            return\
    \ bytes.buffer;\n        }\n\n        // --- 核心加密函数 ---\n        async function\
    \ createEncryptedPaste() {\n            try {\n                document.getElementById('shareableLink').value\
    \ = '正在创建，请稍候...';\n                const originalText = document.getElementById('originalText').value;\n\
    \                if (!originalText) {\n                    alert('请输入内容！');\n\
    \                    return;\n                }\n\n                // 1. 在客户端生\
    成一个 AES-GCM 密钥\n                const key = await window.crypto.subtle.generateKey(\n\
    \                    { name: \"AES-GCM\", length: 256 },\n                   \
    \ true, // a boolean value indicating whether the key can be extracted from the\
    \ CryptoKey object\n                    [\"encrypt\", \"decrypt\"]\n         \
    \       );\n\n                // 2. 使用 LZ-String 压缩原始文本\n                const\
    \ compressedText = LZString.compressToUTF16(originalText);\n\n               \
    \ // 3. 使用密钥加密压缩后的数据\n                const iv = window.crypto.getRandomValues(new\
    \ Uint8Array(12)); // GCM 推荐使用 12 字节的 IV\n                const encryptedData\
    \ = await window.crypto.subtle.encrypt(\n                    { name: \"AES-GCM\"\
    , iv: iv },\n                    key,\n                    new TextEncoder().encode(compressedText)\n\
    \                );\n\n                // 将 IV 和加密数据合并，并转为 Base64\n          \
    \      const combined = new Uint8Array(iv.length + encryptedData.byteLength);\n\
    \                combined.set(iv, 0);\n                combined.set(new Uint8Array(encryptedData),\
    \ iv.length);\n                const dataToSend = arrayBufferToBase64(combined);\n\
    \                \n                // 4. 调用 POST /api/store 上传加密数据\n         \
    \       const response = await fetch('https://uapipro.cn/api/proxy?url=https%3A%2F%2Fpaste.sdjz.wiki%2Fapi%2Fstore',\
    \ {\n                    method: 'POST',\n                    headers: { 'Content-Type':\
    \ 'application/json' },\n                    body: JSON.stringify({ compressedData:\
    \ dataToSend, ttl: 3600 })\n                });\n                const result\
    \ = await response.json();\n                if (!response.ok) throw new Error(result.error\
    \ || '上传失败');\n\n                // 5. 将 ID 和 Base64 密钥组合成 URL 片段\n          \
    \      const exportedKey = await window.crypto.subtle.exportKey(\"raw\", key);\n\
    \                const keyB64 = arrayBufferToBase64(exportedKey);\n          \
    \      const fragment = `${result.id}!${keyB64}`;\n\n                // 6. 构建完\
    整的分享链接\n                const shareableLink = `https://paste.sdjz.wiki/#${fragment}`;\n\
    \                document.getElementById('shareableLink').value = shareableLink;\n\
    \n            } catch (error) {\n                console.error('加密失败:', error);\n\
    \                document.getElementById('shareableLink').value = `错误: ${error.message}`;\n\
    \            }\n        }\n\n        // --- 核心解密函数 ---\n        async function\
    \ decryptPasteFromLink() {\n            try {\n                document.getElementById('decryptedText').innerText\
    \ = '正在解密，请稍候...';\n                const pasteLink = document.getElementById('pasteLink').value;\n\
    \                const fragment = new URL(pasteLink).hash.substring(1);\n    \
    \            if (!fragment.includes('!')) throw new Error('无效的链接格式');\n      \
    \          \n                // 1. 从 URL 片段中解析出 ID 和密钥\n                const\
    \ [id, keyB64] = fragment.split('!');\n                const keyBuffer = base64ToArrayBuffer(keyB64);\n\
    \                const key = await window.crypto.subtle.importKey(\n         \
    \           \"raw\",\n                    keyBuffer,\n                    { name:\
    \ \"AES-GCM\" },\n                    true,\n                    [\"decrypt\"\
    ]\n                );\n\n                // 2. 调用 GET /api/get 获取加密数据\n      \
    \          const response = await fetch(`https://uapipro.cn/api/proxy?url=https%3A%2F%2Fpaste.sdjz.wiki%2Fapi%2Fget%3Fid%3D${id}`);\n\
    \                const result = await response.json();\n                if (!response.ok)\
    \ throw new Error(result.error || '获取数据失败');\n\n                const combined\
    \ = base64ToArrayBuffer(result.compressedData);\n                const iv = combined.slice(0,\
    \ 12);\n                const data = combined.slice(12);\n\n                //\
    \ 3. 使用密钥在客户端解密数据\n                const decryptedData = await window.crypto.subtle.decrypt(\n\
    \                    { name: \"AES-GCM\", iv: iv },\n                    key,\n\
    \                    data\n                );\n\n                // 4. 解压解密后的数\
    据\n                const decompressedText = LZString.decompressFromUTF16(new TextDecoder().decode(decryptedData));\n\
    \                \n                // 5. 成功，显示原始文本\n                document.getElementById('decryptedText').innerText\
    \ = decompressedText;\n\n            } catch (error) {\n                console.error('解\
    密失败:', error);\n                document.getElementById('decryptedText').innerText\
    \ = `错误: ${error.message}`;\n            }\n        }\n\n    </script>\n</body>\n\
    </html>\n```\n\n### 示例2 (方便自动化): 使用cURL直接获取明文\n假设您已经通过某种方式（例如运行了上面的JS示例）创建了一个加\
    密片段，并得到了ID和密钥：\n-   **ID**: `tzy4AllxQP`\n-   **密钥**: `a1b2c3d4e5f6g7h8` (这里只是\
    一个例子，实际密钥是一长串Base64字符)\n\n现在，您可以在任何地方的命令行中，使用 `curl` 直接获取原始文本：\n\n```bash\n# 将\
    \ {id} 和 {key} 替换成你自己的\ncurl \"https://paste.sdjz.wiki/api/raw/tzy4AllxQP?key=a1b2c3d4e5f6g7h8\"\
    \n```\n\n服务器会返回解密后的纯文本，非常适合在脚本中使用。"
  name: Clipzy 在线剪贴板
- description: UAPI Pro Search 是一个智能搜索引擎 API，提供高质量的实时网页搜索、AI 智能摘要和自有机器学习回归排序算法。
  name: 智能搜索
- description: 提供智能敏感词检测服务，能够从多个维度分析文本的风险等级，并提供详细的分析结果和风险评分。
  name: 敏感词识别
paths:
  /convert/json:
    post:
      description: |-
        还在为一团乱麻的 JSON 字符串头疼吗？这个接口能瞬间让它变得井井有条，赏心悦目。

        ## 功能概述
        你只需要提供一个原始的、可能是压缩过的或者格式混乱的 JSON 字符串，这个 API 就会返回一个经过美化（带标准缩进和换行）的版本。这在调试 API 响应、或者需要在前端界面清晰展示 JSON 数据时非常有用。

        ## 使用须知
        > [!NOTE]
        > **请求格式**
        > 请注意，待格式化的 JSON 字符串需要被包裹在另一个 JSON 对象中，作为 `content` 字段的值提交。具体格式请参考请求体示例。

        ## 错误处理指南
        - **400 Bad Request**: 最常见的原因是你提供的 `content` 字符串本身不是一个有效的 JSON。请仔细检查括号、引号是否正确闭合，或者有没有多余的逗号等语法错误。
      operationId: post-convert-json
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_convert_json_request"
        description: 这是一个JSON对象，里面必须包含一个名为 `content` 的字段。这个字段的值，就是你希望格式化的、原始的JSON字符串。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_convert_json_200_response"
          description: 格式化成功！返回一个包含美化后JSON字符串的对象。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_convert_json_400_response"
          description: 请求失败。这通常意味着你提供的 `content` 字符串不是一个合法的JSON格式。请检查括号、引号是否匹配，以及末尾是否有多余的逗号等常见错误。
      summary: 美化并格式化JSON字符串
      tags:
      - Convert
      x-search-words:
      - 格式化
      - 美化
      - 校验
      - 验证
      - 压缩
      - 字符串
      - prettify
      - beautify
      - format
      - validate
      - parse
      x-seo-optimized-text: 免费JSON格式化API接口，快速美化和格式化JSON字符串。支持JSON校验、压缩、美化等功能。专业的JSON处理工具，适用于API调试、数据展示、开发调试等场景。
      x-seo-keywords:
      - 免费JSON格式化API
      - JSON美化接口
      - JSON校验API
      - JSON解析服务
      - JSON处理工具
      - JSON prettify
      - 数据格式化API
      x-seo-title: 免费JSON格式化美化API接口 - JSON字符串处理服务
      x-seo-usage-scenarios: 适用于API响应调试、前端数据展示、配置文件美化、JSON数据校验、开发工具集成、代码格式化、数据可视化等场景
      x-seo-related-apis:
      - 文本处理
      - 数据校验
      - 格式转换
      - 开发工具
      x-content-type: application/json
      x-accepts:
      - application/json
  /convert/unixtime:
    get:
      description: |-
        时间戳和日期字符串，哪个用着更顺手？别纠结了，这个接口让你轻松拥有两种格式！

        ## 功能概述
        这是一个非常智能的转换器。你给它一个 Unix 时间戳，它还你一个人类可读的日期时间；你给它一个日期时间字符串，它还你一个 Unix 时间戳。它会自动识别你输入的是哪种格式。

        ## 使用须知
        这个接口非常智能，能够自动识别输入格式：

        - **输入时间戳**：支持10位秒级（如 `1672531200`）和13位毫秒级（如 `1672531200000`）。
        - **输入日期字符串**：为了确保准确性，推荐使用 `YYYY-MM-DD HH:mm:ss` 标准格式（如 `2023-01-01 08:00:00`）。

        > [!TIP]
        > 无论你输入哪种格式，响应中都会同时包含标准日期字符串和秒级Unix时间戳，方便你按需取用。

        ## 错误处理指南
        - **400 Bad Request**: 如果你提供的 `time` 参数既不是有效的时间戳，也不是我们支持的日期格式，就会收到这个错误。请检查你的输入值。
      operationId: get-convert-unixtime
      parameters:
      - description: 一个智能时间参数，可传入Unix时间戳（10位或13位）或标准日期字符串（如 '2023-10-27 10:30:00'），系统将自动识别并转换。
        explode: true
        in: query
        name: time
        required: true
        schema:
          example: "1698380645"
          type: string
        style: form
        x-tooltip: 传入时间戳返回日期，传入日期返回时间戳。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_convert_unixtime_200_response"
          description: 转换成功！响应中会同时包含标准日期字符串和秒级Unix时间戳，方便你使用。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_convert_unixtime_400_response"
          description: 请求失败。请检查你提供的 `time` 参数是否是有效的时间戳或我们支持的日期格式（YYYY-MM-DD HH:mm:ss）。
      summary: Unix时间戳与日期字符串双向转换
      tags:
      - Convert
      x-search-words:
      - 时间戳
      - 日期
      - 转换
      - timestamp
      - unixtime
      - datetime
      - date
      - format
      - 时间格式化
      - 毫秒
      - 秒
      x-seo-optimized-text: 免费Unix时间戳转换API接口，支持时间戳与日期字符串双向转换。提供多种日期格式，支持时区转换。专业的时间处理工具，适用于系统开发、数据处理、日志分析等场景。
      x-seo-keywords:
      - 免费时间戳转换API
      - Unix时间戳API
      - 日期转换接口
      - 时间格式化服务
      - 时间戳工具API
      - 日期时间API
      - 时间处理接口
      x-seo-title: 免费Unix时间戳转换API接口 - 日期时间格式化服务
      x-seo-usage-scenarios: 适用于系统日志处理、数据库时间字段、API时间参数、前端时间展示、数据分析、定时任务、事件记录等场景
      x-seo-related-apis:
      - 文本处理
      - 数据格式化
      - 系统工具
      - 开发辅助
      x-accepts:
      - application/json
  /daily/news-image:
    get:
      description: |-
        想用一张图快速了解天下大事？这个接口为你一键生成今日新闻摘要，非常适合用在早报、数字看板或应用首页等场景。

        ## 功能概述
        此接口会实时抓取各大平台的热点新闻，并动态地将它们渲染成一张清晰、美观的摘要图片。你调用接口，直接就能得到一张可以展示的图片。

        ## 使用须知
        调用此接口时，请务必注意以下两点：

        1.  **响应格式是图片**：接口成功时直接返回 `image/jpeg` 格式的二进制数据，而非 JSON。请确保你的客户端能正确处理二进制流，例如直接在 `<img>` 标签中显示，或保存为 `.jpg` 文件。

        2.  **设置合理超时**：由于涉及实时新闻抓取和图片渲染，处理过程可能耗时数秒。建议将客户端请求超时时间设置为至少10秒，以防止因等待过久而失败。

        > [!IMPORTANT]
        > 未能正确处理图片响应或超时设置过短，是导致调用失败的最常见原因。
      operationId: get-daily-news-image
      parameters: []
      responses:
        "200":
          content:
            image/jpeg:
              schema:
                format: binary
                type: string
          description: 请求成功！响应体是JPEG格式的图片二进制数据。你可以直接将其显示或保存为图片文件。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_daily_news_image_500_response"
          description: 服务器内部错误。这可能是我们的图片渲染服务遇到了临时故障。我们已经被自动通知，请稍后重试。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_daily_news_image_502_response"
          description: 上游服务错误。我们在尝试从新闻源（如微博、知乎等）获取数据时失败了。这可能是因为上游服务暂时不可用或更改了接口。这个问题通常很快会解决，请稍后重试。
      summary: 生成每日新闻摘要图片
      tags:
      - Daily
      x-search-words:
      - 新闻
      - 早报
      - 日报
      - 摘要
      - 热点
      - 资讯
      - 图片生成
      - news
      - summary
      - image
      - 简报
      x-seo-optimized-text: 免费每日新闻摘要图片生成API接口，自动抓取热点新闻并生成精美的摘要图片。支持实时新闻、热点资讯、日报生成。适用于新闻应用、数字看板、社交分享等场景。
      x-seo-keywords:
      - 免费新闻摘要API
      - 新闻图片生成接口
      - 每日新闻API
      - 热点资讯服务
      - 新闻早报API
      - 图片生成API
      - 新闻摘要工具
      x-seo-title: 免费每日新闻摘要图片生成API - 热点资讯图片服务
      x-seo-usage-scenarios: 适用于新闻应用首页、企业数字看板、社交媒体分享、个人博客配图、微信公众号素材、教育机构资讯展示等场景
      x-seo-related-apis:
      - 图片处理
      - 内容生成
      - 数据抓取
      - 图片合成
      x-accepts:
      - application/json
      - image/jpeg
  /game/minecraft/historyid:
    get:
      description: |-
        想知道某个大佬以前叫什么名字吗？这个接口可以帮你追溯一个 Minecraft 玩家的“黑历史”！

        ## 功能概述
        通过提供一个玩家的 UUID，你可以获取到该玩家所有曾用名及其变更时间的列表。这对于识别回归的老玩家或者社区管理非常有用。

        ## 使用须知
        > [!NOTE]
        > **UUID 格式**
        > 查询时，请务必提供玩家的 **32位无破折号** Minecraft UUID，例如 `ee9b4ed1aac1491eb7611471be374b80`。
      operationId: get-game-minecraft-historyid
      parameters:
      - description: 玩家的 Minecraft UUID，请务必使用32位无破折号的格式。
        explode: true
        in: query
        name: uuid
        required: true
        schema:
          example: ee9b4ed1aac1491eb7611471be374b80
          type: string
        style: form
        x-tooltip: "格式示例: ee9b4ed1aac1491eb7611471be374b80"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_historyid_200_response"
          description: 查询成功！返回该玩家的完整用户名历史记录。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_historyid_400_response"
          description: 请求失败。请检查你是否提供了 `uuid` 参数，以及它的格式是否为32位无破折号字符串。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_historyid_404_response"
          description: 用户未找到。我们根据你提供的 UUID 未能找到对应的 Minecraft 玩家。请确认 UUID 是否正确。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_historyid_502_response"
          description: 上游服务错误。在向 Mojang 的官方 API 请求数据时遇到了问题。这可能是他们的服务暂时中断，请稍后重试。
      summary: 查询Minecraft玩家历史用户名
      tags:
      - Game
      x-search-words:
      - minecraft
      - mc
      - 我的世界
      - 曾用名
      - 历史用户名
      - 改名记录
      - uuid
      - 玩家查询
      - mojang
      - id
      x-accepts:
      - application/json
  /game/minecraft/serverstatus:
    get:
      description: |-
        想在加入服务器前看看有多少人在线？或者检查一下服务器开没开？用这个接口就对了！

        ## 功能概述
        你可以通过提供服务器地址（域名或IP），来获取一个 Minecraft Java 版服务器的实时状态。返回信息非常丰富，包括服务器是否在线、当前玩家数、最大玩家数、服务器版本、MOTD（每日消息）以及服务器图标等。
      operationId: get-game-minecraft-serverstatus
      parameters:
      - description: Minecraft服务器的地址，可以是域名（如 `hypixel.net`）或 `IP:端口` 的形式（如 `mc.example.com:25565`）。如果省略端口，将默认使用
          `25565`。
        explode: true
        in: query
        name: server
        required: true
        schema:
          example: hypixel.net
          type: string
        style: form
        x-tooltip: "例如: hypixel.net 或 mc.example.com"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_serverstatus_200_response"
          description: 查询成功！返回服务器的详细状态信息。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_serverstatus_400_response"
          description: 请求失败。请检查你是否提供了 `server` 参数。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_serverstatus_404_response"
          description: 服务器未找到。这可能意味着你提供的服务器地址无法解析，或者服务器当前处于离线状态。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_serverstatus_502_response"
          description: 查询失败。在尝试连接并获取服务器信息时发生网络错误或协议错误。
      summary: 查询Minecraft服务器状态
      tags:
      - Game
      x-search-words:
      - minecraft
      - mc
      - 我的世界
      - 服务器状态
      - 服务器信息
      - 在线人数
      - motd
      - ping
      - server status
      - java
      x-accepts:
      - application/json
  /game/minecraft/userinfo:
    get:
      description: |-
        只需要一个玩家的用户名，就能快速获取到他的正版皮肤和独一无二的UUID！

        ## 功能概述
        这是一个基础但非常实用的接口。通过玩家当前的游戏内名称（Username），你可以查询到他对应的UUID（唯一标识符）和当前皮肤的URL地址。这是构建许多其他玩家相关服务的第一步。
      operationId: get-game-minecraft-userinfo
      parameters:
      - description: 玩家的 Minecraft 游戏内名称（正版ID）。
        explode: true
        in: query
        name: username
        required: true
        schema:
          example: Notch
          type: string
        style: form
        x-tooltip: "例如: Notch"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_userinfo_200_response"
          description: 查询成功！返回用户的UUID和皮肤链接。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_userinfo_400_response"
          description: 请求失败。请检查你是否提供了 `username` 参数。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_userinfo_404_response"
          description: 玩家未找到。根据你提供的用户名，未能找到对应的 Minecraft 玩家。请检查拼写是否正确。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_historyid_502_response"
          description: 上游服务错误。在向 Mojang 的官方 API 请求数据时遇到了问题。这可能是他们的服务暂时中断，请稍后重试。
      summary: 查询Minecraft玩家信息
      tags:
      - Game
      x-search-words:
      - minecraft
      - mc
      - 我的世界
      - 玩家信息
      - 查uuid
      - 皮肤
      - skin
      - 正版查询
      - username
      - id
      x-accepts:
      - application/json
  /game/steam/summary:
    get:
      description: |-
        想在你的网站或应用中展示用户的 Steam 个人资料？这个接口就是为你准备的。

        ## 功能概述
        通过一个用户的 Steam 标识（支持多种格式），你可以获取到他公开的个人资料摘要，包括昵称、头像、在线状态、真实姓名（如果公开）和个人资料主页URL等信息。

        ## 支持的参数格式
        接口现在支持以下几种标识符格式：
        - **`steamid`**: 64位SteamID（如 `76561197960287930`）
        - **`id`**: 自定义URL名称（如 `gabelogannewell`）
        - **`id3`**: Steam ID3格式（如 `STEAM_0:0:22202`）
        - 完整的个人资料链接
        - 好友代码

        ## 使用须知

        > [!IMPORTANT]
        > **API Key 安全**
        > 此接口需要一个 Steam Web API Key。我们强烈建议由后端统一配置和调用，以避免在客户端泄露。当然，你也可以通过 `key` 查询参数临时提供一个Key来覆盖后端配置。

        在处理响应时，请注意以下数字代码的含义：
        - **`personastate` (用户状态)**: 0-离线, 1-在线, 2-忙碌, 3-离开, 4-打盹, 5-想交易, 6-想玩。
        - **`communityvisibilitystate` (社区可见性)**: 1-私密, 3-公开 (API通常只能查到这两种状态)。
      operationId: get-game-steam-summary
      parameters:
      - description: |-
          用户的 Steam 标识。可以是以下任意一种格式：
          - 纯数字的 **SteamID64**
          - 用户的 **自定义 URL 名称** (Vanity URL)
          - 完整的 **个人资料链接** (包含 SteamID64 或自定义名称)
          - 好友代码 (如 `22202`)
        explode: true
        in: query
        name: steamid
        required: false
        schema:
          example: "76561197960287930"
          type: string
        style: form
        x-tooltip: |-
          支持多种格式，例如：
          - SteamID64: 76561197960287930
          - 自定义名称: gabelogannewell
          - 个人资料链接（ID）: https://steamcommunity.com/profiles/76561197960287930
          - 个人资料链接（自定义名）: https://steamcommunity.com/id/gabelogannewell
          - 好友代码: 22202
      - description: 用户的 Steam 自定义URL名称（Vanity URL）。例如个人资料链接中 `/id/` 后面的部分。
        explode: true
        in: query
        name: id
        required: false
        schema:
          example: gabelogannewell
          type: string
        style: form
        x-tooltip: "自定义URL名称，例如: gabelogannewell"
      - description: 用户的 Steam ID3 格式标识符。传统的 Steam ID 格式，形如 STEAM_X:Y:Z。
        explode: true
        in: query
        name: id3
        required: false
        schema:
          example: STEAM_0:0:22202
          type: string
        style: form
        x-tooltip: "Steam ID3格式，例如: STEAM_0:0:22202"
      - description: 你的 Steam Web API Key。这是一个可选参数，如果提供，它将覆盖我们在后端配置的全局Key。这为你提供了更大的灵活性，但请务必注意Key的保密，不要在前端暴露。
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
        x-tooltip: 可选，用于覆盖全局API Key。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_steam_summary_200_response"
          description: 查询成功！返回用户的 Steam 公开资料摘要。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_steam_summary_400_response"
          description: 请求失败。请检查你是否提供了 `steamid`、`id` 或 `id3` 中的任意一个参数。
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_steam_summary_401_response"
          description: 认证失败。你提供的 Steam Web API Key 无效或已过期，或者你没有提供 Key。请检查你的 Key。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_steam_summary_404_response"
          description: 用户未找到。根据你提供的 SteamID 未能找到对应的用户，或者该用户资料为完全私密。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_steam_summary_502_response"
          description: 上游服务错误。在向 Steam 的官方 API 请求数据时遇到了问题。这可能是他们的服务暂时中断，请稍后重试。
      summary: 获取Steam用户公开摘要
      tags:
      - Game
      x-search-words:
      - steam
      - steamid
      - 个人资料
      - 用户查询
      - 头像
      - 在线状态
      - g胖
      - valve
      - summary
      - profile
      - id
      - id3
      - vanity url
      - 自定义链接
      - steam id3
      x-accepts:
      - application/json
  /game/epic-free:
    get:
      description: |-
        白嫖党的福音来了！想第一时间知道Epic商店本周送了哪些游戏大作吗？

        ## 功能概述
        这个接口帮你实时追踪Epic Games商店的每周免费游戏活动。无需任何参数，调用后即可获得当前所有免费游戏的完整信息，包括游戏封面、原价、剩余时间等，再也不用担心错过心仪的免费游戏了！

        ## 使用场景
        - 开发游戏资讯应用或网站
        - 制作Epic免费游戏推送机器人
        - 为用户提供游戏收藏建议
        - 构建个人游戏库管理工具

        > [!TIP]
        > **关于时间格式**
        > 为了方便不同场景的使用，我们同时提供了可读的时间字符串（如 `2025/01/10 00:00:00`）和13位毫秒时间戳。前端显示用字符串，程序逻辑用时间戳
      operationId: get-game-epic-free
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_epic_free_200_response"
          description: 获取成功！白嫖成功，返回当前Epic Games商店的免费游戏大礼包。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_epic_free_500_response"
          description: Epic Games 免费游戏服务暂时不可用，请稍后再试
      summary: 获取Epic Games免费游戏
      tags:
      - Game
      x-search-words:
      - epic
      - epic games
      - 免费游戏
      - 每周免费
      - 白嫖
      - 游戏
      - 限时免费
      - epic商店
      - free games
      - weekly free
      x-accepts:
      - application/json
  /image/bing-daily:
    get:
      description: |-
        每天都想换张新壁纸？让必应的美图点亮你的一天吧！

        ## 功能概述
        这个接口会获取 Bing 搜索引擎当天全球同步的每日壁纸，并直接以图片形式返回。你可以用它来做应用的启动页、网站背景，或者任何需要每日更新精美图片的地方。

        ## 使用须知

        > [!NOTE]
        > **响应格式是图片**
        > 请注意，此接口成功时直接返回图片二进制数据（通常为 `image/jpeg`），而非 JSON 格式。请确保客户端能够正确处理。

        我们内置了备用方案：如果从必应官方获取图片失败，系统会尝试返回一张预存的高质量风景图，以保证服务的稳定性。
      operationId: get-image-bing-daily
      parameters: []
      responses:
        "200":
          content:
            image/*:
              schema:
                format: binary
                type: string
          description: 请求成功！响应体是JPEG或PNG格式的图片二进制数据。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_bing_daily_502_response"
          description: 上游服务错误。我们无法从必应官方API获取到图片，并且备用图片方案也失败了。请稍后重试。
      summary: 获取必应每日壁纸
      tags:
      - Image
      x-search-words:
      - 每日必应壁纸api
      - bing每日壁纸
      - 必应壁纸api
      - 必应每日壁纸
      - bing每日一图
      - 微软壁纸
      - 必应背景图
      - 每日壁纸
      - 高清壁纸
      - 桌面背景
      - 免费壁纸api
      - 壁纸接口
      - 自动更新壁纸
      - bing壁纸
      - 必应
      - wallpaper api
      - daily wallpaper
      - microsoft wallpaper
      - 免费接口
      - 背景图片api
      x-seo-optimized-text: 免费必应每日壁纸API接口，获取微软Bing搜索引擎的精美每日壁纸。每日自动更新，提供高清壁纸图片，支持直接获取图片二进制数据。适用于桌面背景、网站装饰、应用启动页、设计素材等场景。稳定可靠的Bing壁纸API服务。
      x-seo-keywords:
      - 每日必应壁纸api
      - bing每日壁纸
      - 必应壁纸api接口
      - 微软壁纸API
      - 每日壁纸服务
      - Bing每日一图
      - 免费必应壁纸
      - 高清壁纸API
      - 必应背景图
      - 每日自动更新壁纸
      - 桌面壁纸API
      - 免费壁纸接口
      x-seo-title: 每日必应壁纸API接口 - 免费Bing高清壁纸服务
      x-seo-usage-scenarios: 适用于桌面壁纸应用、移动应用启动页、网站背景图、博客配图、设计项目素材、社交媒体背景、幻灯片背景、屏保程序、个人网站装饰、自动壁纸更换工具等场景
      x-seo-related-apis:
      - 图片处理
      - 随机图片
      - 图片上传
      - 素材服务
      x-faq:
      - question: 这个API如何使用？
        answer: 直接访问 https://uapis.cn/api/v1/image/bing-daily 即可获取当天的必应壁纸。接口返回图片二进制数据，可以直接在
          <img> 标签中使用。
      - question: 图片是什么格式和分辨率？
        answer: 图片通常为JPEG格式，分辨率为1920x1080或更高。必应会根据当天的图片自动选择最佳质量。
      - question: 如果必应官方服务不可用怎么办？
        answer: 我们有备用方案，如果无法获取必应官方图片，系统会返回一张预存的高质量风景图，确保服务稳定性。
      - question: 这个服务是否免费？
        answer: 是的，这个API完全免费，无需注册或API密钥，适合个人和商业项目使用。
      - question: 图片会缓存多长时间？
        answer: 图片每天自动更新，我们会缓存当天的图片以提高访问速度，次日会自动获取新的壁纸。
      x-jsonld:
        '@context': https://schema.org
        '@type': TechnicalArticle
        headline: 每日必应壁纸API - 免费Bing高清壁纸服务
        description: 免费必应每日壁纸API接口，获取微软Bing搜索引擎的精美每日壁纸。每日自动更新，提供高清壁纸图片，支持直接获取图片二进制数据。适用于桌面背景、网站装饰、应用启动页、设计素材等场景。
        author:
          '@type': Organization
          name: UAPI
          url: https://uapis.cn
        publisher:
          '@type': Organization
          name: UAPI
          url: https://uapis.cn
        datePublished: 2024-01-01
        dateModified: 2024-12-01
        mainEntity:
          '@type': SoftwareApplication
          name: 必应每日壁纸API
          applicationCategory: WebAPI
          operatingSystem: All
          url: https://uapis.cn/api/v1/image/bing-daily
          offers:
            '@type': Offer
            price: "0"
            priceCurrency: CNY
        about:
        - '@type': Thing
          name: API端点
          description: 主要API端点：https://uapis.cn/api/v1/image/bing-daily
        - '@type': Thing
          name: 响应格式
          description: 直接返回图片二进制数据（JPEG/PNG格式），而非JSON格式
        - '@type': Thing
          name: 使用方法
          description: 可以直接在 <img> 标签中使用：<img src='https://uapis.cn/api/v1/image/bing-daily'
            />
        - '@type': Thing
          name: 备用方案
          description: 如果无法获取必应官方图片，系统会返回预存的高质量风景图，确保服务稳定性
        - '@type': Thing
          name: 实际应用
          description: 桌面壁纸应用、网站背景、移动应用启动页、设计素材、自动壁纸更换工具
        mentions:
        - '@type': WebAPI
          name: 必应每日壁纸API
          url: https://uapis.cn/api/v1/image/bing-daily
      x-accepts:
      - application/json
      - image/*
  /image/frombase64:
    post:
      description: |-
        当你需要在前端处理完图片（比如裁剪、加滤镜后），不通过传统表单，而是直接上传图片的场景，这个接口就派上用场了。

        ## 功能概述
        你只需要将图片的 Base64 编码字符串发送过来，我们就会把它解码、保存为图片文件，并返回一个可供访问的公开 URL。

        ## 使用须知

        > [!IMPORTANT]
        > **关于 `imageData` 格式**
        > 你发送的 `imageData` 字符串必须是完整的 Base64 Data URI 格式，它需要包含 MIME 类型信息，例如 `data:image/png;base64,iVBORw0KGgo...`。缺少 `data:image/...;base64,` 前缀将导致解码失败。
      operationId: post-image-frombase64
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_image_frombase64_request"
        description: 一个JSON对象，包含 `imageData` 字段，其值为你想要上传图片的完整Base64 Data URI。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_frombase64_200_response"
          description: 上传成功！返回图片的访问地址。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_frombase64_400_response"
          description: 请求失败。可能的原因有：请求体不是有效的JSON，缺少 `imageData` 字段，或者 `imageData` 的内容不是有效的Base64
            Data URI。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_frombase64_500_response"
          description: 服务器内部错误。在解码或保存图片文件时发生了未知错误。请稍后重试。
      summary: 通过Base64编码上传图片
      tags:
      - Image
      x-search-words:
      - base64
      - 图片上传
      - 图床
      - 解码
      - datauri
      - upload image
      - 图片存储
      x-seo-optimized-text: 免费Base64图片上传API接口，支持通过Base64编码上传图片文件。快速便捷的图片处理服务，支持多种图片格式。适用于图片存储、文件上传、图片转换等场景。
      x-seo-keywords:
      - 免费图片上传API
      - Base64图片接口
      - 图片处理API
      - 文件上传服务
      - 图片转换API
      - 图片存储接口
      - Base64上传工具
      x-seo-title: 免费Base64图片上传API接口 - 图片处理服务
      x-seo-usage-scenarios: 适用于网站图片上传、移动应用图片处理、图片格式转换、临时图片存储、图片编辑工具、文件管理系统等场景
      x-seo-related-apis:
      - Base64编码
      - 图片处理
      - 文件服务
      - 图片压缩
      x-content-type: application/json
      x-accepts:
      - application/json
  /image/motou:
    get:
      description: |-
        想在线rua一下好友的头像吗？这个趣味接口可以满足你。

        ## 功能概述
        此接口通过GET方法，专门用于通过QQ号生成摸摸头GIF。你只需要提供一个QQ号码，我们就会自动获取其公开头像，并制作成一个可爱的动图。

        ## 使用须知
        - **响应格式**：接口成功时直接返回 `image/gif` 格式的二进制数据。
        - **背景颜色**：你可以通过 `bg_color` 参数来控制GIF的背景。使用 `transparent` 选项可以让它更好地融入各种聊天背景中。
      operationId: get-image-motou
      parameters:
      - description: 你想要摸头的对象的QQ号码。
        explode: true
        in: query
        name: qq
        required: true
        schema:
          example: "10001"
          type: string
        style: form
        x-tooltip: 纯数字的QQ号。
      - description: GIF的背景颜色。留空则由后端服务决定默认值。
        explode: true
        in: query
        name: bg_color
        required: false
        schema:
          enum:
          - white
          - black
          - transparent
          example: transparent
          type: string
        style: form
        x-tooltip: "可选值为 'white', 'black', 'transparent'。推荐使用 'transparent'。"
      responses:
        "200":
          content:
            image/gif:
              schema:
                format: binary
                type: string
          description: 生成成功！响应体是GIF格式的图片二进制数据。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_motou_400_response"
          description: 请求参数错误。必须提供有效的 'qq' 参数。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_motou_500_response"
          description: 服务器内部错误。可能的原因包括：获取QQ头像失败，或在生成GIF过程中发生错误。
      summary: 生成摸摸头GIF (QQ号方式)
      tags:
      - Image
      x-search-words:
      - 摸头
      - 摸摸头
      - petpet
      - rua
      - gif
      - 表情包
      - qq头像
      - 生成器
      - 动图
      x-accepts:
      - application/json
      - image/gif
    post:
      description: |-
        除了使用QQ头像，你还可以通过上传自己的图片或提供图片URL来制作独一无二的摸摸头GIF。

        ## 功能概述
        此接口通过POST方法，支持两种方式生成GIF：
        1.  **图片URL**：在表单中提供 `image_url` 字段。
        2.  **上传图片**：在表单中上传 `file` 文件。

        ## 使用须知
        - **响应格式**：接口成功时直接返回 `image/gif` 格式的二进制数据。
        - **参数优先级**：如果同时提供了 `image_url` 和上传的 `file` 文件，系统将 **优先使用 `image_url`**。
        - **背景颜色**：同样支持 `bg_color` 表单字段来控制GIF背景。
      operationId: post-image-motou
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/post_image_motou_request"
        description: 包含图片来源和背景色的表单数据。必须提供 'image_url' 或 'file' 两者之一。
        required: true
      responses:
        "200":
          content:
            image/gif:
              schema:
                format: binary
                type: string
          description: 生成成功！响应体是GIF格式的图片二进制数据。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_motou_400_response"
          description: 请求参数错误。必须提供 'image_url' 或上传 'file' 文件两者中的一个。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_motou_500_response"
          description: 服务器内部错误。可能的原因包括：从URL获取图片失败、处理上传文件失败，或在生成GIF过程中发生错误。
      summary: 生成摸摸头GIF (图片上传或URL方式)
      tags:
      - Image
      x-search-words:
      - 摸头
      - 摸摸头
      - petpet
      - rua
      - gif
      - 表情包
      - 生成器
      - 动图
      - 图片上传
      - URL
      - 自定义头像
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
      - image/gif
  /image/speechless:
    post:
      description: |-
        你们怎么不说话了？是不是都在偷偷玩Uapi，求求你们不要玩Uapi了

        ## 效果展示
        ![示例](https://uapis.cn/static/uploads/33580466897f1e5815296f235b582815.png)

        ## 使用须知
        - **响应格式**：接口成功时直接返回 `image/jpeg` 格式的二进制数据。
        - **文字内容**：至少需要提供 `top_text`（上方文字）或 `bottom_text`（下方文字）之一。
        - **梗图逻辑**：上方描述某个行为，下方通常以「们」开头表示劝阻，形成戏谑的对比效果。
      operationId: post-image-speechless
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_image_speechless_request"
        description: 包含表情包文字内容的JSON对象。至少需要提供上方或下方文字之一。
        required: true
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: ���ɳɹ�����Ӧ����PNG��ʽ�ı����ͼƬ���������ݡ�
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_speechless_400_response"
          description: 请求参数错误。必须提供 'top_text' 或 'bottom_text' 至少其中之一。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_speechless_500_response"
          description: 服务器内部错误。在生成表情包图片过程中发生错误。
      summary: 生成你们怎么不说话了表情包
      tags:
      - Image
      x-search-words:
      - 你们怎么不说话了
      - 怎么不说话了
      - speechless
      - 无语
      - 无言以对
      - 表情包
      - 表情包生成
      - 斗图
      - meme
      - 梗图
      - 自定义表情包
      - 文字表情包
      - 在线表情包
      - 表情包制作器
      - 聊天表情
      - 趣味图片
      - 对比梗
      - 反差梗
      x-seo-optimized-text: 免费你们怎么不说话了表情包生成API接口，快速生成经典梗图表情包。支持自定义上下文字，一键生成趣味对比反差表情包图片。适用于聊天斗图、群聊娱乐、社交分享等场景。
      x-seo-keywords:
      - 你们怎么不说话了表情包
      - 你们怎么不说话了API
      - 表情包生成API
      - 免费表情包接口
      - 自定义表情包
      - 斗图API
      - 表情包制作
      - 在线表情包生成器
      - 对比梗图
      x-seo-title: 你们怎么不说话了表情包生成API - 经典梗图制作接口
      x-seo-usage-scenarios: 适用于社交聊天斗图、群聊娱乐、内容创作配图、社交媒体分享、趣味营销素材、个性化表情制作、娱乐互动应用、网络梗图创作等场景
      x-seo-related-apis:
      - 摸头表情包
      - 图片生成
      - 图片处理
      - 表情包制作
      x-content-type: application/json
      x-accepts:
      - application/json
      - image/png
  /image/qrcode:
    get:
      description: |-
        无论是网址、文本还是联系方式，通通可以变成一个二维码！这是一个非常灵活的二维码生成工具。

        ## 功能概述
        你提供一段文本内容，我们为你生成对应的二维码图片。你可以自定义尺寸，并选择不同的返回格式以适应不同场景。

        ## 使用须知

        > [!IMPORTANT]
        > **关键参数 `format`**
        > 此参数决定了成功响应的内容类型和结构，请务必根据你的需求选择并正确处理响应：
        > - **`image`** (默认): 直接返回 `image/png` 格式的图片二进制数据，适合在 `<img>` 标签中直接使用。
        > - **`json`**: 返回一个包含 Base64 Data URI 的 JSON 对象，适合需要在前端直接嵌入CSS或HTML的场景。
        > - **`json_url`**: 返回一个包含图片临时URL的JSON对象，适合需要图片链接的场景。
      operationId: get-image-qrcode
      parameters:
      - description: 你希望编码到二维码中的任何文本内容，比如一个URL、一段话或者一个JSON字符串。
        explode: true
        in: query
        name: text
        required: true
        schema:
          example: https://www.bilibili.com/video/BV1uT4y1P7CX/
          type: string
        style: form
        x-tooltip: URL、文本、名片信息等都可以。
      - description: 二维码图片的边长（正方形），单位是像素。有效范围是 256 到 1024 之间。
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 256
          example: 512
          type: integer
        style: form
        x-tooltip: 默认256px，建议不要设置过小。
      - description: "指定响应内容的格式。可选值为 `image`, `json`, `json_url`。"
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: image
          enum:
          - image
          - json
          - json_url
          example: image
          type: string
        style: form
        x-tooltip: 默认为'image'，直接返回图片。
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
              x-description: 当 `format=image` (默认)时，你会收到此响应。
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_qrcode_200_response"
              x-description: 当 `format=json` 或 `format=json_url` 时，你会收到此响应。
          description: 请求成功。响应的格式和内容取决于你传入的 `format` 参数。请参考下面不同 `Content-Type` 的定义。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_qrcode_400_response"
          description: 请求参数错误。请检查 `text` 是否提供，`size` 是否在有效范围内，`format` 是否为支持的值。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_qrcode_500_response"
          description: 服务器内部错误。在生成二维码的过程中发生了未知错误。
      summary: 动态生成二维码
      tags:
      - Image
      x-search-words:
      - 二维码
      - qrcode
      - 生成
      - 扫码
      - qr
      - generator
      - 链接
      - 文本
      - 名片
      x-accepts:
      - application/json
      - image/png
  /image/tobase64:
    get:
      description: |-
        看到一张网上的图片，想把它转换成 Base64 编码以便嵌入到你的 HTML 或 CSS 中？用这个接口就对了。

        ## 功能概述
        你提供一个公开可访问的图片 URL，我们帮你把它下载下来，并转换成包含 MIME 类型的 Base64 Data URI 字符串返回给你。
      operationId: get-image-tobase64
      parameters:
      - description: 需要转换为Base64的、可公开访问的图片URL地址。
        explode: true
        in: query
        name: url
        required: true
        schema:
          example: https://ts3.tc.mm.bing.net/th?id=ORMS.44196851bb1757ec3f66572811fe8e07&pid=Wdp&w=612&h=304&qlt=90&c=1&rs=1&dpr=1.25&p=0
          format: url
          type: string
        style: form
        x-tooltip: 必须是公网可以直接访问的图片链接。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_tobase64_200_response"
          description: 转换成功！返回包含Base64编码的JSON对象。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_tobase64_400_response"
          description: 请求参数错误。请检查你是否提供了 `url` 参数，以及它是否是一个合法的URL格式。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_tobase64_502_response"
          description: 获取图片失败。我们无法从你提供的URL下载图片。请检查该URL是否可以公开访问，以及它是否指向一个有效的图片资源。
      summary: 将在线图片转换为Base64
      tags:
      - Image
      x-search-words:
      - base64
      - 图片转换
      - 编码
      - image to base64
      - url to base64
      - encode
      - 链接转图片
      x-accepts:
      - application/json
  /image/svg:
    post:
      description: |-
        需要将灵活的 SVG 矢量图形转换为常见的光栅图像格式吗？这个接口可以帮你轻松实现。

        ## 功能概述
        上传一个 SVG 文件，并指定目标格式（如 PNG、JPEG 等），接口将返回转换后的图像。你还可以调整输出图像的尺寸和（对于JPEG）压缩质量，以满足不同场景的需求。
      operationId: post-image-svg
      parameters:
      - description: "输出图像的目标格式。支持的值：`png`, `jpeg`, `jpg`, `gif`, `tiff`, `bmp`。"
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: png
          enum:
          - png
          - jpeg
          - jpg
          - gif
          - tiff
          - bmp
          type: string
        style: form
      - description: 输出图像的宽度（像素）。如果省略，将根据 `height` 保持宽高比，或者使用 SVG 的原始宽度。
        explode: true
        in: query
        name: width
        required: false
        schema:
          type: integer
        style: form
      - description: 输出图像的高度（像素）。如果省略，将根据 `width` 保持宽高比，或者使用 SVG 的原始高度。
        explode: true
        in: query
        name: height
        required: false
        schema:
          type: integer
        style: form
      - description: JPEG 图像的压缩质量（1-100）。仅当 `format` 为 `jpeg` 或 `jpg` 时有效。
        explode: true
        in: query
        name: quality
        required: false
        schema:
          default: 90
          type: integer
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/post_image_svg_request"
        description: 要转换的 SVG 文件。
        required: false
      responses:
        "200":
          content:
            image/*:
              schema:
                format: binary
                type: string
          description: 转换成功！响应体是转换后图像的二进制数据。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_svg_400_response"
          description: 请求无效。可能是未上传文件或指定了不支持的输出格式。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_svg_500_response"
          description: 服务器内部错误。SVG 渲染或文件处理过程中发生错误。
      summary: SVG转图片
      tags:
      - Image
      x-search-words:
      - svg
      - 转换
      - png
      - jpeg
      - gif
      - tiff
      - bmp
      - 矢量图
      - 光栅图
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
      - image/*
  /image/compress:
    post:
      description: |-
        还在为图片体积和加载速度发愁吗？体验一下我们强大的**无损压缩服务**，它能在几乎不牺牲任何肉眼可感知的画质的前提下，将图片体积压缩到极致。

        ## 功能概述
        你只需要上传一张常见的图片（如 PNG, JPG），选择一个压缩等级，就能获得一个体积小到惊人的压缩文件。这对于需要大量展示高清图片的网站、App 或小程序来说，是优化用户体验、节省带宽和存储成本的利器。

        ## 使用须知
        > [!TIP]
        > 为了给您最好的压缩效果，我们的算法需要进行复杂计算，处理时间可能会稍长一些，请耐心等待。

        > [!WARNING]
        > **服务排队提醒**
        > 这是一个计算密集型服务。在高并发时，您的请求可能会被排队等待处理。如果您需要将其集成到对延迟敏感的生产服务中，请注意这一点。

        ### 请求与响应格式
        - 请求必须使用 `multipart/form-data` 格式上传文件。
        - 成功响应将直接返回压缩后的文件二进制流 (`application/octet-stream`)，并附带 `Content-Disposition` 头，建议客户端根据此头信息保存文件。

        ## 参数详解
        ### `level` (压缩等级)
        这是一个从 `1` 到 `5` 的整数，它决定了压缩的强度和策略，数字越小，压缩率越高。所有等级都经过精心调校，以在最大化压缩率的同时保证出色的视觉质量。
        - `1`: **极限压缩** (推荐，体积最小，画质优异)
        - `2`: **高效压缩**
        - `3`: **智能均衡** (默认选项)
        - `4`: **画质优先**
        - `5`: **专业保真** (压缩率稍低，保留最多图像信息)

        ## 错误处理指南
        - **400 Bad Request**: 通常因为没有上传文件，或者 `level` 参数不在 1-5 的范围内。
        - **500 Internal Server Error**: 如果在压缩过程中服务器发生内部错误，会返回此状态码。
      operationId: post-image-compress
      parameters:
      - description: 压缩强度 (1-5)，默认为 3。数字越小，压缩率越高。
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: 3
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          example: 3
          type: integer
        style: form
        x-tooltip: |-
          - `1`: **极限压缩** (推荐)
          - `2`: **高效压缩**
          - `3`: **智能均衡** (默认)
          - `4`: **画质优先**
          - `5`: **专业保真**
      - description: 输出图片格式，可以是 'png' 或 'jpeg'。
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: png
          enum:
          - png
          - jpeg
          example: png
          type: string
        style: form
        x-tooltip: 默认为 'png'。
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/post_image_compress_request"
        required: true
      responses:
        "200":
          content:
            image/*:
              schema:
                format: binary
                type: string
          description: ѹ���ɹ�����Ӧ����ѹ������ͼƬ���������ݡ�Content-Type ��������ѡ��Ŀ��ʽ����Ĭ��Ϊ
            image/png��
          headers:
            Content-Disposition:
              description: ����ͻ��˽��ļ�����Ϊѹ�������ļ������Ƽ�ʹ��׺����������ʽ��
              explode: false
              schema:
                example: attachment; filename="compressed.png"
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_compress_400_response"
          description: 请求无效。可能是未上传文件、文件格式不受支持或参数错误。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_compress_500_response"
          description: 服务器内部错误。压缩过程中发生错误。
      summary: 无损压缩图片
      tags:
      - Image
      x-search-words:
      - 图片压缩
      - 无损压缩
      - 图片优化
      - 减小体积
      - image compression
      - lossless
      - optimize
      - png
      - jpg
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
      - image/*
  /avatar/gravatar:
    get:
      description: 提供一个超高速、高可用的Gravatar头像代理服务。内置了强大的ETag条件缓存，确保用户在更新Gravatar头像后能几乎立刻看到变化，同时最大化地利用缓存。
      operationId: get-avatar-gravatar
      parameters:
      - description: 用户的 Email 地址。如果未提供 `hash` 参数，则此参数为必需。
        explode: true
        in: query
        name: email
        required: false
        schema:
          example: shuakami@sdjz.wiki
          type: string
        style: form
      - description: 用户 Email 地址的小写 MD5 哈希值。如果提供此参数，将忽略 `email` 参数。
        explode: true
        in: query
        name: hash
        required: false
        schema:
          type: string
        style: form
      - description: 头像的尺寸，单位为像素。有效范围是 1 到 2048。
        explode: true
        in: query
        name: s
        required: false
        schema:
          default: 80
          type: integer
        style: form
      - description: "当用户没有自己的 Gravatar 头像时，显示的默认头像类型。可选值包括 `mp`, `identicon`, `monsterid`,\
          \ `wavatar`, `retro`, `robohash`, `blank`, `404`。"
        explode: true
        in: query
        name: d
        required: false
        schema:
          default: mp
          type: string
        style: form
      - description: "头像分级。可选值：`g`, `pg`, `r`, `x`。"
        explode: true
        in: query
        name: r
        required: false
        schema:
          default: g
          type: string
        style: form
      responses:
        "200":
          content:
            image/*:
              schema:
                format: binary
                type: string
          description: 成功响应，返回图片二进制数据。
          headers:
            Content-Type:
              explode: false
              schema:
                example: image/jpeg
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: "public, max-age=3600"
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_avatar_gravatar_400_response"
          description: 当请求中既没有提供 `email` 也没有提供 `hash` 参数时。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_avatar_gravatar_404_response"
          description: 当 `d=404` 且请求的 email 或 hash 没有对应的 Gravatar 头像时。
      summary: 获取Gravatar头像
      tags:
      - Image
      x-search-words:
      - gravatar
      - avatar
      - 头像
      - email
      - md5
      - 头像代理
      x-accepts:
      - application/json
      - image/*
  /misc/hotboard:
    get:
      description: |
        想快速跟上网络热点？这个接口让你一网打尽各大主流平台的实时热榜/热搜！

        ## 功能概述
        你只需要指定一个平台类型，就能获取到该平台当前的热榜数据列表。每个热榜条目都包含标题、热度值和原始链接。非常适合用于制作信息聚合类应用或看板。

        ## 可选值
        `type` 参数接受多种不同的值，每种值对应一个不同的热榜来源。以下是目前支持的所有值：

        | 分类       | 支持的 type 值 |
        |------------|-----------------------------------------------------------------------------------------------------------------------------------|
        | 视频/社区  | bilibili（哔哩哔哩弹幕网）, acfun（A站弹幕视频网站）, weibo（新浪微博热搜）, zhihu（知乎热榜）, zhihu-daily（知乎日报热榜）, douyin（抖音热榜）, kuaishou（快手热榜）, douban-movie（豆瓣电影榜单）, douban-group（豆瓣小组话题）, tieba（百度贴吧热帖）, hupu（虎扑热帖）, miyoushe（米游社话题榜）, ngabbs（NGA游戏论坛热帖）, v2ex（V2EX技术社区热帖）, 52pojie（吾爱破解热帖）, hostloc（全球主机交流论坛）, coolapk（酷安热榜） |
        | 新闻/资讯  | baidu（百度热搜）, thepaper（澎湃新闻热榜）, toutiao（今日头条热榜）, qq-news（腾讯新闻热榜）, sina（新浪热搜）, sina-news（新浪新闻热榜）, netease-news（网易新闻热榜）, huxiu（虎嗅网热榜）, ifanr（爱范儿热榜） |
        | 技术/IT    | sspai（少数派热榜）, ithome（IT之家热榜）, ithome-xijiayi（IT之家·喜加一栏目）, juejin（掘金社区热榜）, jianshu（简书热榜）, guokr（果壳热榜）, 36kr（36氪热榜）, 51cto（51CTO热榜）, csdn（CSDN博客热榜）, nodeseek（NodeSeek 技术社区）, hellogithub（HelloGitHub 项目推荐） |
        | 游戏       | lol（英雄联盟热帖）, genshin（原神热榜）, honkai（崩坏3热榜）, starrail（星穹铁道热榜） |
        | 其他       | weread（微信读书热门书籍）, weatheralarm（天气预警信息）, earthquake（地震速报）, history（历史上的今天） |
      operationId: get-misc-hotboard
      parameters:
      - description: "你想要查询的热榜平台。支持多种主流平台类型，详见下方[可选值](#可选值)表格。"
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - bilibili
          - acfun
          - weibo
          - zhihu
          - zhihu-daily
          - douyin
          - kuaishou
          - douban-movie
          - douban-group
          - tieba
          - hupu
          - miyoushe
          - ngabbs
          - v2ex
          - 52pojie
          - hostloc
          - coolapk
          - baidu
          - thepaper
          - toutiao
          - qq-news
          - sina
          - sina-news
          - netease-news
          - huxiu
          - ifanr
          - sspai
          - ithome
          - ithome-xijiayi
          - juejin
          - jianshu
          - guokr
          - 36kr
          - 51cto
          - csdn
          - nodeseek
          - hellogithub
          - lol
          - genshin
          - honkai
          - starrail
          - weread
          - weatheralarm
          - earthquake
          - history
          example: weibo
          type: string
        style: form
        x-tooltip: 例如，'weibo' 代表微博热搜。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_hotboard_200_response"
          description: 查询成功！返回指定平台的热榜列表数据。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_hotboard_400_response"
          description: 请求参数错误。你提供的 `type` 参数不是我们支持的平台类型，请检查拼写。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_hotboard_500_response"
          description: 获取热榜失败。服务器在处理数据时发生内部错误。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_hotboard_502_response"
          description: 上游服务错误。我们从目标平台（如微博）获取数据时失败，可能是对方接口暂时不可用或有反爬策略。
      summary: 获取多平台实时热榜
      tags:
      - Misc
      x-search-words:
      - 热榜
      - 热搜
      - 排行榜
      - 微博
      - 知乎
      - bilibili
      - 抖音
      - 头条
      - 新闻
      - trending
      - hot
      - v2ex
      - 虎扑
      x-accepts:
      - application/json
  /misc/phoneinfo:
    get:
      description: |-
        想知道一个手机号码来自哪里？是移动、联通还是电信？这个接口可以告诉你答案。

        ## 功能概述
        提供一个国内的手机号码，我们会查询并返回它的归属地（省份和城市）以及所属的运营商信息。
      operationId: get-misc-phoneinfo
      parameters:
      - description: 需要查询的11位中国大陆手机号码。
        explode: true
        in: query
        name: phone
        required: true
        schema:
          example: "13800138000"
          type: string
        style: form
        x-tooltip: 请输入11位手机号。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_phoneinfo_200_response"
          description: 查询成功！返回号码的归属地和运营商信息。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_phoneinfo_400_response"
          description: 请求参数错误。请检查你是否提供了 `phone` 参数，以及它是否是有效的11位手机号码。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_phoneinfo_500_response"
          description: 查询失败。我们的号码归属地数据库可能暂时无法访问，请稍后重试。
      summary: 查询手机号码归属地信息
      tags:
      - Misc
      x-search-words:
      - 手机号
      - 归属地
      - 运营商
      - 查号码
      - phone
      - location
      - carrier
      - 移动
      - 联通
      - 电信
      x-accepts:
      - application/json
  /misc/randomnumber:
    get:
      description: |-
        需要一个简单的随机数，还是需要一串不重复的、带小数的随机数？这个接口都能满足你！

        ## 功能概述
        这是一个强大的随机数生成器。你可以指定生成的范围（最大/最小值）、数量、是否允许重复、以及是否生成小数（并指定小数位数）。

        ## 流程图
        ```mermaid
        graph TD
            A[开始] --> B{参数校验};
            B --> |通过| C{是否允许小数?};
            C --> |是| D[生成随机小数];
            C --> |否| E[生成随机整数];
            D --> F{是否允许重复?};
            E --> F;
            F --> |是| G[直接生成指定数量];
            F --> |否| H[生成不重复的数字];
            G --> I[返回结果];
            H --> I;
            B --> |失败| J[返回 400 错误];
        ```
        ## 使用须知
        > [!WARNING]
        > **不重复生成的逻辑限制**
        > 当设置 `allow_repeat=false` 时，请确保取值范围 `(max - min + 1)` 大于或等于你请求的数量 `count`。否则，系统将无法生成足够的不重复数字，请求会失败并返回 400 错误。
      operationId: get-misc-randomnumber
      parameters:
      - description: 生成随机数的最小值（包含）。
        explode: true
        in: query
        name: min
        required: false
        schema:
          default: 1
          example: 10
          type: integer
        style: form
        x-tooltip: 默认为 1。
      - description: 生成随机数的最大值（包含）。
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 100
          example: 50
          type: integer
        style: form
        x-tooltip: 默认为 100。
      - description: 需要生成的随机数的数量。
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 1
          example: 5
          type: integer
        style: form
        x-tooltip: 默认为 1。
      - description: 是否允许生成的多个数字中出现重复值。
        explode: true
        in: query
        name: allow_repeat
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
        x-tooltip: 默认为 false (不重复)。
      - description: 是否生成小（浮点）数。如果为 false，则只生成整数。
        explode: true
        in: query
        name: allow_decimal
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
        x-tooltip: 默认为 false (整数)。
      - description: 如果 `allow_decimal=true`，这里可以指定小数的位数。
        explode: true
        in: query
        name: decimal_places
        required: false
        schema:
          default: 2
          example: 2
          type: integer
        style: form
        x-tooltip: 仅在 allow_decimal=true 时生效。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_randomnumber_200_response"
          description: 生成成功！返回一个包含随机数的数组。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_randomnumber_400_response"
          description: 请求参数无效。例如，`min` 大于 `max`，或者在不允许重复的情况下，请求的数量大于可能生成的数字总数。
      summary: 生成高度可定制的随机数
      tags:
      - Misc
      x-search-words:
      - 随机数
      - 生成
      - 整数
      - 小数
      - random
      - number
      - generator
      - int
      - float
      - 抽奖
      - 摇号
      x-accepts:
      - application/json
  /misc/timestamp:
    get:
      description: |-
        这是一个用于将Unix时间戳转换为人类可读日期时间的旧版接口。

        ## 功能概述
        输入一个秒级或毫秒级的时间戳，返回其对应的本地时间和UTC时间。

        > [!WARNING]
        > **接口已过时**：这个接口已被新的 `/convert/unixtime` 取代。新接口功能更强大，支持双向转换。我们建议你迁移到新接口。

        [👉 前往新版接口文档](/docs/api-reference/get-convert-unixtime)
      operationId: get-misc-timestamp
      parameters:
      - description: 需要转换的Unix时间戳，支持10位（秒）或13位（毫秒）。
        explode: true
        in: query
        name: ts
        required: true
        schema:
          example: "1672531200"
          type: string
        style: form
        x-tooltip: "例如: 1672531200"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_timestamp_200_response"
          description: 转换成功！
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_timestamp_400_response"
          description: 无效的时间戳参数。请检查 `ts` 参数是否为纯数字字符串。
      summary: 转换时间戳 (旧版，推荐使用/convert/unixtime)
      tags:
      - Misc
      x-search-words:
      - 时间戳
      - 日期
      - 转换
      - timestamp
      - unixtime
      - datetime
      - date
      - 旧版
      - legacy
      x-accepts:
      - application/json
  /misc/weather:
    get:
      description: |-
        出门前，查一下天气总是个好习惯。这个接口为你提供精准、实时的天气数据。

        ## 功能概述
        你可以通过城市名称或高德地图的Adcode来查询指定地区的实时天气状况，包括天气现象、温度、湿度、风向和风力等。

        ## 使用须知
        - **参数优先级**：当你同时提供了 `city` (城市名) 和 `adcode` (城市编码) 两个参数时，系统会 **优先使用 `adcode`** 进行查询，因为它更精确。
        - **查询范围**：为了保证查询的准确性，我们的服务仅支持标准的“省”、“市”、“区/县”级别的行政区划名称查询，不保证能查询到乡镇或具体地点。

        ## 错误处理指南
        - **410 Gone**: 这个特殊的错误码意味着你查询的地区无效或不受我们支持。比如你输入了“火星”，或者某个我们无法识别的村庄名称。这个状态码告诉你，这个“资源”是永久性地不可用了。
      operationId: get-misc-weather
      parameters:
      - description: "标准的城市名称，如 '北京', '上海市', '福田区'。请使用官方的省、市、区县行政区划名称。"
        explode: true
        in: query
        name: city
        required: false
        schema:
          example: 北京
          type: string
        style: form
        x-tooltip: 与 adcode 二选一即可。
      - description: 高德地图的6位数字城市编码。例如，北京市的Adcode是 '110000'。使用Adcode查询更准确、更快速。
        explode: true
        in: query
        name: adcode
        required: false
        schema:
          example: "110000"
          type: string
        style: form
        x-tooltip: 6位数字编码，如'110000'，查询更精准。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_weather_200_response"
          description: 查询成功！返回该地区的实时天气信息。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_weather_400_response"
          description: 请求参数错误。你必须提供 `city` 或 `adcode` 参数中的至少一个。
        "410":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_weather_410_response"
          description: 查询的地区无效或不受支持。例如，你输入了 '火星' 或某个我们无法识别的村庄名称。这个状态码告诉你，这个“资源”是永久性地不可用了。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_weather_500_response"
          description: 服务器内部错误。在处理天气数据时发生了未知问题。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_weather_502_response"
          description: 上游服务错误。我们依赖的天气服务提供商（如高德地图）的API暂时不可用或返回了错误。
      summary: 查询实时天气信息
      tags:
      - Misc
      x-search-words:
      - 天气
      - 预报
      - 气温
      - 湿度
      - 风力
      - weather
      - forecast
      - temperature
      - adcode
      x-accepts:
      - application/json
  /misc/worldtime:
    get:
      description: |-
        需要和国外的朋友开会，想知道他那边现在几点？用这个接口一查便知。

        ## 功能概述
        根据标准的时区名称（例如 'Asia/Shanghai' 或 'Europe/London'），获取该时区的当前准确时间、UTC偏移量、星期等信息。
      operationId: get-misc-worldtime
      parameters:
      - description: "你需要查询的城市或地区，请使用标准的 IANA 时区数据库名称，例如 'Shanghai', 'Asia/Tokyo',\
          \ 'America/New_York'。"
        explode: true
        in: query
        name: city
        required: true
        schema:
          example: Asia/Shanghai
          type: string
        style: form
        x-tooltip: 支持城市名或 '洲/城市' 格式。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_worldtime_200_response"
          description: 查询成功！返回指定时区的详细时间信息。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_worldtime_400_response"
          description: 请求参数错误。请检查你是否提供了 `city` 参数。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_worldtime_404_response"
          description: 时区未找到。根据你提供的名称，未能找到对应的时区。请检查拼写或使用标准的 '洲/城市' 格式。
      summary: 查询全球任意时区的时间
      tags:
      - Misc
      x-search-words:
      - 世界时间
      - 时区
      - 全球时间
      - timezone
      - world clock
      - gmt
      - utc
      - iana
      x-accepts:
      - application/json
  /history/programmer/today:
    get:
      description: |-
        想知道程序员历史上的今天发生了什么大事吗？这个接口告诉你答案！

        ## 功能概述
        我们使用AI智能筛选从海量历史事件中挑选出与程序员、计算机科学相关的重要事件。每个事件都经过重要性评分和相关性评分，确保内容质量。
      operationId: get-history-programmer-today
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_history_programmer_today_200_response"
          description: 获取成功！返回今天的程序员历史事件列表。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_history_programmer_today_500_response"
          description: 服务器内部错误。
      summary: 获取今天的程序员历史事件
      tags:
      - Misc
      x-search-words:
      - 程序员
      - 历史
      - 今天
      - 编程
      - 计算机
      - 科学
      - 事件
      - programmer
      - history
      - today
      - computing
      - technology
      x-accepts:
      - application/json
  /history/programmer:
    get:
      description: |-
        想查看程序员历史上某个特定日期发生的大事件？指定月份和日期，我们就能告诉你！

        ## 功能概述
        通过指定月份和日期，获取该日发生的程序员相关历史事件。同样使用AI智能筛选，确保事件的相关性和重要性。
      operationId: get-history-programmer
      parameters:
      - description: 月份，1-12之间的整数。
        explode: true
        in: query
        name: month
        required: true
        schema:
          example: 4
          maximum: 12
          minimum: 1
          type: integer
        style: form
        x-tooltip: 输入1-12之间的数字
      - description: 日期，1-31之间的整数。
        explode: true
        in: query
        name: day
        required: true
        schema:
          example: 4
          maximum: 31
          minimum: 1
          type: integer
        style: form
        x-tooltip: 输入1-31之间的数字
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_history_programmer_200_response"
          description: 获取成功！返回指定日期的程序员历史事件列表。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_history_programmer_400_response"
          description: 请求参数错误。请检查月份和日期参数是否正确。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_history_programmer_today_500_response"
          description: 服务器内部错误。
      summary: 获取指定日期的程序员历史事件
      tags:
      - Misc
      x-search-words:
      - 程序员
      - 历史
      - 指定日期
      - 编程
      - 计算机
      - 科学
      - 事件
      - programmer
      - history
      - date
      - computing
      - technology
      x-accepts:
      - application/json
  /misc/tracking/query:
    get:
      description: |-
        买了东西想知道快递到哪儿了？这个接口帮你实时追踪物流状态。

        > [!VIP]
        > 本API目前处于**限时免费**阶段，我们鼓励开发者集成和测试。未来，它将转为付费API，为用户提供更稳定和强大的服务。

        ## 功能概述
        提供一个快递单号，系统会自动识别快递公司并返回完整的物流轨迹信息。支持中通、圆通、韵达、申通、极兔、顺丰、京东、EMS、德邦等60+国内外主流快递公司。

        ## 使用须知
        - **自动识别**：不知道是哪家快递？系统会根据单号规则自动识别快递公司（推荐使用）
        - **手动指定**：如果已知快递公司，可以传递 `carrier_code` 参数，查询速度会更快
        - **查询时效**：物流信息实时查询，响应时间通常在1-2秒内
      operationId: get-misc-tracking-query
      parameters:
      - description: 快递单号，通常是一串10-20位的数字或字母数字组合。
        explode: true
        in: query
        name: tracking_number
        required: true
        schema:
          type: string
        style: form
        x-tooltip: 输入完整的快递单号
      - description: 快递公司编码（可选）。不填写时系统会自动识别，填写后可加快查询速度。
        explode: true
        in: query
        name: carrier_code
        required: false
        schema:
          type: string
        style: form
        x-tooltip: 例如：zhongtong、shunfeng、yuantong 等
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_tracking_query_200_response"
          description: 查询成功！返回快递的完整物流轨迹。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_tracking_query_400_response"
          description: 参数错误，请检查快递单号是否正确。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_tracking_query_404_response"
          description: 当前没有查询到物流轨迹时会返回 404，并附带错误码和提示信息。
      summary: 查询快递物流信息
      tags:
      - Misc
      x-search-words:
      - 快递
      - 物流
      - 查询
      - 快递查询
      - 物流查询
      - 快递单号
      - tracking
      - express
      - 中通
      - 圆通
      - 韵达
      - 顺丰
      - 京东
      - EMS
      - 快递追踪
      x-accepts:
      - application/json
  /misc/tracking/detect:
    get:
      description: |-
        不确定手里的快递单号属于哪家快递公司？这个接口专门做识别，不查物流。

        > [!VIP]
        > 本API目前处于**限时免费**阶段，我们鼓励开发者集成和测试。未来，它将转为付费API，为用户提供更稳定和强大的服务。

        ## 功能概述
        输入快递单号，系统会根据单号规则快速识别出最可能的快递公司。如果存在多个可能的匹配结果，还会在 `alternatives` 字段中返回备选项，供你参考选择。

        ## 使用须知
        - **识别速度快**：只做规则匹配，不查询物流信息，响应速度通常在100ms内
        - **准确率高**：基于各快递公司的单号规则进行智能识别，准确率超过95%
        - **备选方案**：当单号规则可能匹配多家快递公司时，会提供所有可能的选项
      operationId: get-misc-tracking-detect
      parameters:
      - description: 需要识别的快递单号。
        explode: true
        in: query
        name: tracking_number
        required: true
        schema:
          type: string
        style: form
        x-tooltip: 输入完整的快递单号
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_tracking_detect_200_response"
          description: 识别成功！返回识别结果和可能的备选项。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_tracking_detect_404_response"
          description: 无法识别该快递单号。
      summary: 识别快递公司
      tags:
      - Misc
      x-search-words:
      - 快递识别
      - 识别快递
      - 快递公司
      - 快递单号识别
      - detect
      - carrier
      - 快递判断
      x-accepts:
      - application/json
  /misc/tracking/carriers:
    get:
      description: |-
        不确定系统支持哪些快递公司？这个接口返回完整的支持列表。

        > [!VIP]
        > 本API目前处于**限时免费**阶段，我们鼓励开发者集成和测试。未来，它将转为付费API，为用户提供更稳定和强大的服务。

        ## 功能概述
        获取系统当前支持的所有快递公司列表，包括每家公司的标准编码（code）和中文名称（name）。

        ## 使用建议
        - **推荐缓存**：这个列表基本不会频繁变动，建议在应用启动时调用一次并缓存到本地
        - **应用场景**：适合用于构建快递公司选择器、下拉菜单等UI组件
        - **缓存时长**：建议缓存24小时或更久
      operationId: get-misc-tracking-carriers
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_misc_tracking_carriers_200_response"
          description: 获取成功！返回所有支持的快递公司列表。
      summary: 获取支持的快递公司列表
      tags:
      - Misc
      x-search-words:
      - 快递公司列表
      - 支持的快递
      - 快递公司
      - carriers
      - 快递列表
      x-accepts:
      - application/json
  /network/dns:
    get:
      description: |-
        想知道一个域名指向了哪个IP？或者它的邮件服务器是谁？这个接口就像一个在线的 `dig` 或 `nslookup` 工具。

        ## 功能概述
        你可以查询指定域名的各种DNS记录，包括 `A` (IPv4), `AAAA` (IPv6), `CNAME` (别名), `MX` (邮件交换), `NS` (域名服务器) 和 `TXT` (文本记录)。
      operationId: get-network-dns
      parameters:
      - description: 你需要查询的域名，例如 'cn.bing.com'。
        explode: true
        in: query
        name: domain
        required: true
        schema:
          example: cn.bing.com
          type: string
        style: form
        x-tooltip: "例如: cn.bing.com"
      - description: 你想要查询的DNS记录类型。
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: A
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - NS
          - TXT
          example: A
          type: string
        style: form
        x-tooltip: 默认为 'A' 记录。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_dns_200_response"
          description: 查询成功！返回解析到的DNS记录列表。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_dns_400_response"
          description: 请求参数无效。请检查 `domain` 参数是否提供且格式正确。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_dns_404_response"
          description: 未找到DNS记录。该域名可能不存在，或者不存在你所查询类型的记录（例如，一个没有配置MX记录的域名）。
      summary: 执行DNS解析查询
      tags:
      - Network
      x-search-words:
      - dns
      - 解析
      - 域名
      - ip
      - lookup
      - dig
      - nslookup
      - a记录
      - cname
      - mx
      - txt
      x-seo-optimized-text: 免费DNS解析查询API接口，在线DNS查询工具，支持A、AAAA、CNAME、MX、NS、TXT等记录类型查询。快速准确的域名解析服务，适用于网络诊断、域名管理、网络安全等场景。
      x-seo-keywords:
      - 免费DNS查询API
      - 域名解析接口
      - DNS记录查询
      - 网络诊断API
      - 域名查询服务
      - DNS工具API
      - 网络查询接口
      x-seo-title: 免费DNS解析查询API接口 - 在线域名解析工具
      x-seo-usage-scenarios: 适用于网络诊断、域名管理、网络安全监控、邮件服务器配置、CDN配置、网络故障排查、域名迁移等场景
      x-seo-related-apis:
      - IP查询
      - 网络工具
      - 域名工具
      - 网络诊断
      x-accepts:
      - application/json
  /network/icp:
    get:
      description: |-
        想知道一个网站的背后运营主体是谁吗？如果它是在中国大陆运营的，ICP备案信息可以告诉你答案。

        ## 功能概述
        提供一个域名，查询其在中国工信部的ICP（Internet Content Provider）备案信息。这对于商业合作前的背景调查、验证网站合法性等场景很有帮助。

        > [!NOTE]
        > **查询范围**
        > 此查询仅对在中国大陆工信部进行过备案的域名有效。对于国外域名或未备案的域名，将查询不到结果。
      operationId: get-network-icp
      parameters:
      - description: 需要查询的域名或URL
        explode: true
        in: query
        name: domain
        required: true
        schema:
          example: baidu.com
          type: string
        style: form
        x-tooltip: 可输入域名或包含域名的URL
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_icp_200_response"
          description: 查询成功！返回该域名的ICP备案详情。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_dns_400_response"
          description: 请求参数无效。请检查 `domain` 参数是否提供且格式正确。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_icp_404_response"
          description: 未查询到备案信息。该域名可能没有在工信部备案，或者是我们查询的上游接口暂时没有收录。
      summary: 查询域名ICP备案信息
      tags:
      - Network
      x-search-words:
      - icp
      - 备案
      - 域名备案
      - 网站备案
      - 工信部
      - beian
      - 主体
      x-accepts:
      - application/json
  /network/ipinfo:
    get:
      description: |-
        想知道一个IP地址或域名来自地球的哪个角落？这个接口可以帮你定位它。你可以选择使用默认的GeoIP数据库，也可以指定 `source=commercial` 参数来查询更详细的商业级IP归属信息。

        ## 功能概述
        提供一个公网IPv4、IPv6地址或域名，我们会利用GeoIP数据库查询并返回它的地理位置（国家、省份、城市）、经纬度、以及所属的运营商（ISP）和自治系统（ASN）信息。这在网络安全分析、访问来源统计等领域非常有用。

        当使用 `source=commercial` 参数时，接口将调用高性能商业API，提供更精确的市、区、运营商、时区、海拔等信息。请注意，商业查询的响应时间可能会稍长。
      operationId: get-network-ipinfo
      parameters:
      - description: 你需要查询的公网IP地址或域名（支持IPv4和IPv6）。
        explode: true
        in: query
        name: ip
        required: true
        schema:
          example: cn.bing.com
          type: string
        style: form
        x-tooltip: "例如: 8.8.8.8 或 cn.bing.com"
      - description: 查询的数据源。如果留空，将使用默认的数据库。如果设置为 `commercial`，将调用商业级API，返回更详细的地理位置信息，但响应时间可能会稍长。
        explode: true
        in: query
        name: source
        required: false
        schema:
          enum:
          - commercial
          type: string
        style: form
        x-tooltip: "例如: commercial"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_ipinfo_200_response"
          description: |-
            查询成功！返回该IP地址的详细地理和网络信息。

            **示例 1：标准查询 (不带 `source` 参数)**

            请求: `/api/v1/network/ipinfo?ip=120.24.0.0`

            响应:
            ```json
            {
              "code": 200,
              "ip": "120.24.0.0",
              "beginip": "120.24.0.0",
              "endip": "120.24.255.255",
              "region": "中国 广东",
              "isp": "China Telecom",
              "asn": "AS4134",
              "llc": "电信",
              "latitude": 23.1291,
              "longitude": 113.2644
            }
            ```

            **示例 2：商业数据源查询 (`source=commercial`)**

            请求: `/api/v1/network/ipinfo?ip=120.24.0.0&source=commercial`

            响应:
            ```json
            {
              "code": 200,
              "ip": "120.24.0.0",
              "region": "中国 广东 广州",
              "isp": "电信",
              "llc": "电信",
              "latitude": 23.1291,
              "longitude": 113.2644,
              "district": "天河",
              "area_code": "440106",
              "city_code": "020",
              "zip_code": "510000",
              "time_zone": "Asia/Shanghai",
              "elevation": "50",
              "weather_station": "CHXX0049"
            }
            ```
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_ipinfo_400_response"
          description: IP地址参数无效。请检查 `ip` 参数是否提供，以及它是否是一个合法的公网IP地址。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_ipinfo_404_response"
          description: 信息未找到。这通常意味着你查询的是一个内网IP地址（如 192.168.x.x）或一个未分配的公网IP地址，我们的数据库中没有它的信息。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_ipinfo_500_response"
          description: 服务器内部错误。我们的GeoIP数据库查询服务可能遇到了问题。
      summary: 查询指定IP或域名的归属信息
      tags:
      - Network
      x-search-words:
      - ip
      - ip地址
      - 归属地
      - 地理位置
      - geoip
      - isp
      - asn
      - 定位
      - 查询
      - lookup
      - 域名
      x-accepts:
      - application/json
  /network/myip:
    get:
      description: |-
        想知道你自己的出口公网IP是多少吗？这个接口就是你的“网络身份证”。你可以选择使用默认的GeoIP数据库，也可以指定 `source=commercial` 参数来查询更详细的商业级IP归属信息。

        ## 功能概述
        调用此接口，它会返回你（即发起请求的客户端）的公网IP地址，并附带与 `/network/ipinfo` 接口相同的地理位置和网络归属信息。非常适合用于在网页上向用户展示他们自己的IP和地理位置。

        当使用 `source=commercial` 参数时，接口将调用高性能商业API，提供更精确的市、区、运营商、时区、海拔等信息。请注意，商业查询的响应时间可能会稍长。
      operationId: get-network-myip
      parameters:
      - description: 查询的数据源。如果留空，将使用默认的数据库。如果设置为 `commercial`，将调用商业级API，返回更详细的地理位置信息，但响应时间可能会稍长。
        explode: true
        in: query
        name: source
        required: false
        schema:
          enum:
          - commercial
          type: string
        style: form
        x-tooltip: "例如: commercial"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_ipinfo_200_response"
          description: |-
            查询成功！返回你的客户端IP的详细信息。

            **示例 1：标准查询 (不带 `source` 参数)**

            请求: `/api/v1/network/myip`

            响应:
            ```json
            {
              "code": 200,
              "ip": "1.2.3.4",
              "beginip": "1.2.3.0",
              "endip": "1.2.3.255",
              "region": "中国 湖南 长沙",
              "isp": "China Unicom",
              "asn": "AS4837",
              "llc": "联通",
              "latitude": 28.1941,
              "longitude": 112.9823
            }
            ```

            **示例 2：商业数据源查询 (`source=commercial`)**

            请求: `/api/v1/network/myip?source=commercial`

            响应:
            ```json
            {
              "code": 200,
              "ip": "1.2.3.4",
              "region": "中国 湖南 长沙",
              "isp": "联通",
              "llc": "联通",
              "latitude": 28.1941,
              "longitude": 112.9823,
              "district": "岳麓",
              "area_code": "430104",
              "city_code": "0731",
              "zip_code": "410000",
              "time_zone": "Asia/Shanghai",
              "elevation": "60",
              "weather_station": "CHXX0062"
            }
            ```
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_myip_400_response"
          description: 无法获取有效的客户端IP。这在一些特殊的网络环境下可能发生，例如通过了复杂的代理。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_myip_500_response"
          description: 服务器内部错误。在查询IP归属地信息时发生错误。
      summary: 获取你的公网IP及归属信息
      tags:
      - Network
      x-search-words:
      - 我的ip
      - 本机ip
      - 公网ip
      - what is my ip
      - ip
      - ip地址
      - 客户端ip
      - 我的ip地址是什么
      x-accepts:
      - application/json
  /network/ping:
    get:
      description: |-
        想知道从我们的服务器到你的服务器网络延迟高不高？这个工具可以帮你测试网络连通性。

        ## 功能概述
        这个接口会从我们的服务器节点对你指定的主机（域名或IP地址）执行 ICMP Ping 操作。它会返回最小、最大、平均延迟以及丢包率等关键指标，是诊断网络问题的得力助手。
      operationId: get-network-ping
      parameters:
      - description: 你需要 Ping 的目标主机，可以是域名或IP地址。
        explode: true
        in: query
        name: host
        required: true
        schema:
          example: cn.bing.com
          type: string
        style: form
        x-tooltip: "例如: cn.bing.com 或 8.8.8.8"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_ping_200_response"
          description: Ping 操作成功！返回延迟统计数据。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_ping_400_response"
          description: |-
            请求失败，参数无效或目标不可达。前端可直接展示 `message` 字段。

            **可能原因**:
            - **无法解析主机**: `host` 参数是一个无效的域名或IP地址。
              ```json
              {
                  "code": "INVALID_PARAMETER",
                  "message": "无法解析主机 '无效的主机名'，请检查输入是否正确。"
              }
              ```
            - **Ping 超时**: 目标主机无法访问或被防火墙拦截。
              ```json
              {
                  "code": "INVALID_PARAMETER",
                  "message": "对主机 '目标主机' 的 Ping 请求超时，目标可能不可达或防火墙已拦截。"
              }
              ```
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_ping_429_response"
          description: |-
            服务繁忙。当服务器 Ping 请求过多时，会触发限流。前端可直接展示 `message` 字段。

            ```json
            {
                "code": "SERVICE_BUSY",
                "message": "Ping 服务正忙，请稍后再试。"
            }
            ```
      summary: 从服务器Ping指定主机
      tags:
      - Network
      x-search-words:
      - ping
      - 延迟
      - 测速
      - 网络测试
      - 连通性
      - icmp
      - latency
      - 丢包
      x-accepts:
      - application/json
  /network/pingmyip:
    get:
      description: |-
        这是一个非常方便的快捷接口，想知道你的网络到我们服务器的回程延迟吗？点一下就行！

        ## 功能概述
        这个接口是 `/network/myip` 和 `/network/ping` 的结合体。它会自动获取你客户端的公网IP，然后从我们的服务器Ping这个IP，并返回延迟数据。这对于快速判断你本地网络到服务器的连接质量非常有用。
      operationId: get-network-pingmyip
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_pingmyip_200_response"
          description: Ping 操作成功！返回到你客户端IP的延迟统计数据。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_myip_400_response"
          description: 无法获取客户端IP。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_pingmyip_404_response"
          description: Ping操作失败。这很可能是因为你的路由器或防火墙禁止了外部ICMP Ping请求。
      summary: 从服务器Ping你的客户端IP
      tags:
      - Network
      x-search-words:
      - ping我
      - ping my ip
      - 回程延迟
      - 网络测试
      - ping
      - 我的ip
      x-accepts:
      - application/json
  /network/portscan:
    get:
      description: |-
        想检查一下你的服务器上某个端口（比如SSH的22端口或者Web的80端口）是否对外开放？这个工具可以帮你快速确认。

        ## 功能概述
        你可以指定一个主机和端口号，我们的服务器会尝试连接该端口，并告诉你它是开放的（open）、关闭的（closed）还是超时了（timeout）。这对于网络服务配置检查和基本的安全扫描很有用。
      operationId: get-network-portscan
      parameters:
      - description: 需要扫描的目标主机，可以是域名或IP地址。
        explode: true
        in: query
        name: host
        required: true
        schema:
          example: cn.bing.com
          type: string
        style: form
        x-tooltip: "例如: cn.bing.com 或 1.2.3.4"
      - description: 需要扫描的端口号，范围是 1 到 65535。
        explode: true
        in: query
        name: port
        required: true
        schema:
          example: 80
          type: integer
        style: form
        x-tooltip: "例如: 80, 443, 22"
      - description: 扫描使用的协议，可以是 'tcp' 或 'udp'。
        explode: true
        in: query
        name: protocol
        required: false
        schema:
          default: tcp
          enum:
          - tcp
          - udp
          example: tcp
          type: string
        style: form
        x-tooltip: 默认为'tcp'，通常更常用。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_portscan_200_response"
          description: 扫描完成！返回端口的状态。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_portscan_400_response"
          description: "请求参数无效。请检查 `host`, `port` 等参数是否提供且格式正确。"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_portscan_500_response"
          description: 扫描失败。服务器在执行扫描时发生内部错误。
      summary: 扫描远程主机的指定端口
      tags:
      - Network
      x-search-words:
      - 端口扫描
      - 端口检查
      - 开放端口
      - nmap
      - telnet
      - port scan
      - tcp
      - udp
      - 防火墙
      x-accepts:
      - application/json
  /network/urlstatus:
    get:
      description: |-
        你的网站或API还好吗？用这个接口给它做个快速“体检”吧。

        ## 功能概述
        提供一个URL，我们会向它发起一个请求，并返回其HTTP响应状态码。这是一种简单而有效的服务可用性监控方法。

        > [!TIP]
        > **性能优化**：为了提高效率并减少对目标服务器的负载，我们实际发送的是 `HEAD` 请求，而不是 `GET` 请求。`HEAD` 请求只会获取响应头，而不会下载整个页面内容，因此速度更快。
      operationId: get-network-urlstatus
      parameters:
      - description: 你需要检查其可访问性状态的完整URL。
        explode: true
        in: query
        name: url
        required: true
        schema:
          example: https://cn.bing.com
          format: url
          type: string
        style: form
        x-tooltip: 必须是完整的URL，如 https://cn.bing.com
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_urlstatus_200_response"
          description: 检查成功！返回目标的HTTP状态码。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_tobase64_400_response"
          description: 请求参数无效。请检查 `url` 参数是否提供且格式正确。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_urlstatus_502_response"
          description: 请求URL失败（例如，DNS解析失败、连接超时）
      summary: 检查URL的可访问性状态
      tags:
      - Network
      x-search-words:
      - url
      - 链接检测
      - 网站状态
      - 可用性
      - 监控
      - http状态码
      - head请求
      - 存活
      - is it down
      x-accepts:
      - application/json
  /network/whois:
    get:
      description: |-
        想知道一个域名是什么时候注册的、注册商是谁、什么时候到期？WHOIS信息可以告诉你这一切。

        ## 功能概述
        这是一个在线的WHOIS查询工具。你可以通过如下两种方式获取WHOIS信息：

        - **默认行为**（不带参数）：`GET /api/v1/network/whois?domain=google.com`
          - 返回一个JSON对象，`whois` 字段为原始、未处理的WHOIS文本字符串。
        - **JSON格式化**：`GET /api/v1/network/whois?domain=google.com&format=json`
          - 返回一个JSON对象，`whois` 字段为解析后的JSON对象，包含WHOIS信息中的键值对。

        这样你既可以获得最全的原始信息，也可以方便地处理结构化数据。
      operationId: get-network-whois
      parameters:
      - description: 你需要查询WHOIS信息的域名。
        explode: true
        in: query
        name: domain
        required: true
        schema:
          example: google.com
          type: string
        style: form
        x-tooltip: "例如: google.com"
      - description: 返回格式。留空或为 'text' 时返回原始WHOIS文本，设为 'json' 时返回结构化JSON。
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: text
          enum:
          - text
          - json
          example: json
          type: string
        style: form
        x-tooltip: 可选，'json' 返回结构化数据，默认返回原始文本
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_whois_200_response"
          description: 查询成功！根据 format 参数返回原始WHOIS文本或结构化JSON。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_dns_400_response"
          description: 请求参数无效。请检查 `domain` 参数是否提供且格式正确。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_whois_404_response"
          description: 查询失败或域名不存在。
      summary: 查询域名的WHOIS注册信息
      tags:
      - Network
      x-search-words:
      - whois
      - 域名信息
      - 注册信息
      - 所有者
      - 到期时间
      - registrar
      - domain info
      - 过期
      - 注册商
      x-accepts:
      - application/json
  /network/wxdomain:
    get:
      description: |-
        准备在微信里推广你的网站？最好先检查一下域名是否被“拉黑”了。

        ## 功能概述
        这个接口可以帮你查询一个域名在微信内置浏览器中的访问状态，即是否被微信封禁。这对于做微信生态推广和营销的开发者来说至关重要。
      operationId: get-network-wxdomain
      parameters:
      - description: 需要查询的域名。
        explode: true
        in: query
        name: domain
        required: true
        schema:
          example: qq.com
          type: string
        style: form
        x-tooltip: "例如: qq.com"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_wxdomain_200_response"
          description: 查询成功！返回该域名在微信中的状态。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_dns_400_response"
          description: 请求参数无效。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_network_wxdomain_502_response"
          description: 查询上游接口失败。
      summary: 检查域名在微信中的访问状态
      tags:
      - Network
      x-search-words:
      - 微信
      - wechat
      - 域名检测
      - 封禁
      - 拦截
      - 红名
      - wx
      - 黑名单
      - 屏蔽
      x-accepts:
      - application/json
  /saying:
    get:
      description: |-
        想在你的应用里每天展示一句不一样的话，给用户一点小小的惊喜吗？这个“一言”接口就是为此而生。

        ## 功能概述
        每次调用，它都会从我们精心收集的、包含数千条诗词、动漫台词、名人名言的语料库中，随机返回一条。你可以用它来做网站首页的Slogan、应用的启动语，或者任何需要灵感点缀的地方。
      operationId: get-saying
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_saying_200_response"
          description: 请求成功！返回一条随机的语录。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_saying_500_response"
          description: 当语料库为空或无法读取时。
      summary: 随机获取一句诗词或名言
      tags:
      - Poem
      x-search-words:
      - 一言
      - hitokoto
      - 名言
      - 语录
      - 诗词
      - 句子
      - 文案
      - 随机一句话
      - 鸡汤
      - 毒鸡汤
      x-accepts:
      - application/json
  /random/image:
    get:
      description: |
        需要一张随机图片作为占位符或者背景吗？这个接口是你的不二之选。

        ## 功能概述
        这是一个非常简单的接口，它会从我们庞大的图库和精选外部图床中随机挑选一张图片，然后通过 302 重定向让你直接访问到它。这使得它可以非常方便地直接用在 HTML 的 `<img>` 标签中。

        你可以通过 `/api/v1/random/image?category=acg&type=4k` 这样的请求获取由UapiPro服务器提供的图片，也可以通过 `/api/v1/random/image?category=ai_drawing` 获取由外部图床精选的图片。

        如果你不提供任何 category 参数，程序会从所有图片（包括本地的和URL的）中随机抽取一张（**全局随机图片不包含ikun和AI绘画**）。

        > [!TIP]
        > 如果你需要更精确地控制图片类型，请使用 `/image/random/{category}/{type}` 接口。

        ### 支持的主类别与子类别
        - **UapiPro服务器图片**
          - **furry**（福瑞）
            - z4k
            - szs8k
            - s4k
            - 4k
          - **bq**（表情包/趣图）
            - youshou
            - xiongmao
            - waiguoren
            - maomao
            - ikun
            - eciyuan
          - **acg**（二次元动漫）
            - pc
            - mb
        - **外部图床精选图片**
          - **ai_drawing**: AI绘画。
          - **general_anime**: 动漫图。
          - **landscape**: 风景图。
          - **mobile_wallpaper**: 手机壁纸。
          - **pc_wallpaper**: 电脑壁纸。
        - **混合动漫**
          - **anime**: 混合了UapiPro服务器的acg和外部图床的general_anime分类下的图片。

        > [!NOTE]
        > 默认全局随机（未指定category参数）时，不会包含ikun和AI绘画（ai_drawing）类别的图片。
      operationId: get-random-image
      parameters:
      - description: |
          （可选）指定图片主类别。

          **支持的主类别：**
          - `furry`（福瑞，UapiPro服务器）
          - `bq`（表情包/趣图，UapiPro服务器）
          - `acg`（二次元动漫，UapiPro服务器）
          - `ai_drawing`（AI绘画，外部图床）
          - `general_anime`（动漫图，外部图床）
          - `landscape`（风景图，外部图床）
          - `mobile_wallpaper`（手机壁纸，外部图床）
          - `pc_wallpaper`（电脑壁纸，外部图床）
          - `anime`（混合动漫，UapiPro服务器acg + 外部图床general_anime）

          > [!TIP]
          > 如果不指定，将从所有图片中随机抽取（不包含 `ikun` 和 `ai_drawing`）。
        explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - furry
          - bq
          - acg
          - ai_drawing
          - general_anime
          - landscape
          - mobile_wallpaper
          - pc_wallpaper
          - anime
          example: acg
          type: string
        style: form
        x-tooltip: 可选，如 `furry`、`ai_drawing` 或 `anime`，可筛选图片主类别。
      - description: |
          （可选，仅UapiPro服务器图片支持）指定图片子类别。

          - **furry**: `z4k`, `szs8k`, `s4k`, `4k`
          - **bq**: `youshou`, `xiongmao`, `waiguoren`, `maomao`, `ikun`, `eciyuan`
          - **acg**: `pc`, `mb`

          > [!TIP]
          > 外部图床类别和 `anime` 混合类别不支持 `type` 参数。
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - z4k
          - szs8k
          - s4k
          - 4k
          - youshou
          - xiongmao
          - waiguoren
          - maomao
          - ikun
          - eciyuan
          - pc
          - mb
          example: pc
          type: string
        style: form
        x-tooltip: 可选，如 `z4k`，进一步筛选UapiPro服务器图片子类别。
      responses:
        "200":
          content:
            image/jpeg:
              schema:
                format: binary
                type: string
          description: �ɹ����ʣ�ֱ�ӷ��� JPEG ��ʽ��ͼƬ���������ݣ�Ĭ�� Content-Type Ϊ image/jpeg��
        "302":
          description: 成功！你的客户端将会被重定向到一张随机图片的URL。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_random_image_404_response"
          description: 未找到指定类别的图片。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_random_image_500_response"
          description: 服务器内部错误。
      summary: 随机二次元、风景、动漫图片壁纸
      tags:
      - Random
      x-search-words:
      - 随机二次元图片api
      - 随机图片api
      - 二次元图片
      - 随机动漫图片
      - acg图片
      - 动漫壁纸
      - 二次元壁纸
      - 随机壁纸
      - 免费图片api
      - 图片接口
      - 随机图
      - 动漫api
      - 二次元api
      - 壁纸api
      - 风景图片
      - ai绘画
      - furry
      - 福瑞
      - 表情包
      - 网站背景
      - 机器人图片
      - 直接出图
      - 302重定向
      - 高清壁纸
      - 免费接口
      x-seo-optimized-text: 免费随机二次元图片API接口，提供高质量随机图片服务。支持二次元动漫、风景壁纸、AI绘画、表情包等多种分类。快速稳定的随机图片API，适用于网站背景、机器人调用、应用开发等场景。直接302重定向到图片URL，使用简单便捷。
      x-seo-keywords:
      - 随机二次元图片api
      - 免费随机图片API
      - 二次元图片API接口
      - 随机动漫壁纸api
      - ACG图片API
      - 随机背景图API
      - 免费图片接口
      - 动漫图片api
      - 随机壁纸服务
      - 图片素材API
      - 二次元随机图
      - 随机图片生成器
      x-seo-title: 随机二次元图片API接口 - 免费高清动漫壁纸服务
      x-seo-usage-scenarios: 适用于网站随机背景、QQ机器人调用、应用启动页、博客配图、聊天机器人、社交分享、UI原型、游戏素材、测试图片、开发调试、个人网站装饰、微信小程序背景等场景
      x-seo-related-apis:
      - 必应壁纸
      - 图片处理
      - 图片上传
      - 素材服务
      x-faq:
      - question: 如何获取随机二次元图片？
        answer: 直接访问 https://uapis.cn/api/v1/random/image?category=acg 即可获取随机二次元图片。接口通过302重定向直接返回图片URL。
      - question: 支持哪些图片分类？
        answer: 支持二次元动漫(acg)、风景图(landscape)、AI绘画(ai_drawing)、表情包(bq)、福瑞(furry)等多种分类。
      - question: 如何在网页中使用？
        answer: 可以直接在 <img> 标签的 src 属性中使用API地址，例如：<img src='https://uapis.cn/api/v1/random/image?category=acg'
          />
      - question: 这个服务是否免费？
        answer: 是的，这个API完全免费，无使用限制，适合个人和商业项目使用。
      - question: 图片是否会重复？
        answer: 图片是从庞大的图库中随机选择，重复的概率很低。不同分类有不同的图片数量。
      x-jsonld:
        '@context': https://schema.org
        '@type': TechnicalArticle
        headline: 随机二次元图片API接口 - 免费高清动漫壁纸服务
        description: 免费随机二次元图片API接口，提供高质量随机图片服务。支持二次元动漫、风景壁纸、AI绘画、表情包等多种分类。快速稳定的随机图片API，适用于网站背景、机器人调用、应用开发等场景。
        author:
          '@type': Organization
          name: UAPI
          url: https://uapis.cn
        publisher:
          '@type': Organization
          name: UAPI
          url: https://uapis.cn
        datePublished: 2024-01-01
        dateModified: 2024-12-01
        mainEntity:
          '@type': SoftwareApplication
          name: 随机二次元图片API
          applicationCategory: WebAPI
          operatingSystem: All
          url: https://uapis.cn/api/v1/random/image
          offers:
            '@type': Offer
            price: "0"
            priceCurrency: CNY
        about:
        - '@type': Thing
          name: API端点
          description: 主要API端点：https://uapis.cn/api/v1/random/image
        - '@type': Thing
[...]
